<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reports</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item *ngFor="let rep of loadedReports" lines="full" detail [routerLink]="['/', 'report', rep.key]">
            <ion-icon src="assets/imgs/icons/graph-report-icon-vector-17947466.svg" slot="start"></ion-icon>
            <ion-label>{{ rep.name }} Report</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
