<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Notifications
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button slot="icon-only">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="notifications-content">
  <ng-container *ngIf="notifications">
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label>Today</ion-label>
      </ion-item-divider>
      <ion-item class="notification-item" lines="none" *ngFor="let notification of notifications.today">
        <ion-row class="notification-item-wrapper">
          <ion-col size="2">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <!-- <ion-img [src]="'assets/imgs/notification.png'"></ion-img> -->
              <ion-img src="assets/notification/{{notification.type}}.png"></ion-img>
            </app-aspect-ratio>
          </ion-col>
          <ion-col class="details-wrapper">
            <h2 class="details-name">{{ notification.item._type }}</h2>
            <p class="details-description">{{ notification.item.sentence }}</p>
            <p class="details-description" *ngIf="notification.type === 'IGN'">Odo: <span
                [ngClass]="{ 'switchOn': notification.switch === 'ON','switchOff':   notification.switch === 'OFF' }">{{notification.odo | number: "1.0-2"}}
                km(s)</span></p>
          </ion-col>
          <ion-col size="2" class="date-wrapper">
            <h3 class="notification-date">{{ notification.timestamp | date: 'shortTime' }}</h3>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label>Yesterday</ion-label>
      </ion-item-divider>
      <ion-item class="notification-item" lines="none" *ngFor="let notification of notifications.yesterday">
        <ion-row class="notification-item-wrapper">
          <ion-col size="2">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <!-- <ion-img [src]="'assets/imgs/notification.png'"></ion-img> -->
              <ion-img src="assets/notification/{{notification.type}}.png"></ion-img>
            </app-aspect-ratio>
          </ion-col>
          <ion-col class="details-wrapper">
            <h2 class="details-name">{{ notification.item._type }}</h2>
            <p class="details-description">{{ notification.item.sentence }}</p>
            <p class="details-description" *ngIf="notification.type === 'IGN'">Odo: <span
                [ngClass]="{ 'switchOn': notification.switch === 'ON','switchOff':   notification.switch === 'OFF' }">{{notification.odo | number: "1.0-2"}}
                km(s)</span></p>
          </ion-col>
          <ion-col size="2" class="date-wrapper">
            <h3 class="notification-date">{{ notification.timestamp | date: 'shortTime' }}</h3>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label>Past</ion-label>
      </ion-item-divider>
      <ion-item class="notification-item" lines="none" *ngFor="let notification of notifications.other">
        <ion-row class="notification-item-wrapper">
          <ion-col size="2">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <!-- <ion-img [src]="'assets/imgs/notification.png'"></ion-img> -->
              <ion-img src="assets/notification/{{notification.type}}.png"></ion-img>
            </app-aspect-ratio>
          </ion-col>
          <ion-col class="details-wrapper">
            <h2 class="details-name">{{ notification.item._type }}</h2>
            <p class="details-description">{{ notification.item.sentence }}</p>
            <p class="details-description" *ngIf="notification.type === 'IGN'">Odo: <span
                [ngClass]="{ 'switchOn': notification.switch === 'ON','switchOff':   notification.switch === 'OFF' }">{{notification.odo | number: "1.0-2"}}
                km(s)</span></p>
          </ion-col>
          <ion-col size="2" class="date-wrapper">
            <h3 class="notification-date">{{ notification.timestamp | date: 'shortDate' }} {{ notification.timestamp | date: 'shortTime' }}</h3>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
  </ng-container>
</ion-content>