<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="user-profile-content">
  <ion-row class="user-details-section">
    <ion-col class="user-image-wrapper">
      <app-aspect-ratio [ratio]="{w: 1, h: 1}">
        <app-image-shell class="user-image" animation="spinner" [src]="'assets/imgs/user-1.png'"></app-image-shell>
      </app-aspect-ratio>
    </ion-col>
    <ion-col class="user-info-wrapper">
      <ion-row class="user-data-row">
        <ion-col size="8">
          <h4 class="user-name">
            <app-text-shell [data]="profile.fn + ' ' + profile.ln"></app-text-shell>
          </h4>
          <h5 class="user-title">
            <app-text-shell [data]="profile.phn"></app-text-shell>
          </h5>
        </ion-col>
        <ion-col class="membership-col" size="4">
          <span class="user-membership" *ngIf="userData">
            <app-text-shell *ngIf="!userData.isDealer && !userData.isSuperAdmin" data="Customer"></app-text-shell>
            <app-text-shell *ngIf="userData.isDealer && !userData.isSuperAdmin" data="Dealer"></app-text-shell>
            <app-text-shell *ngIf="profile.role" [data]="profile.role"></app-text-shell>
          </span>
        </ion-col>
      </ion-row>
      <ion-row class="actions-row">
        <ion-col class="main-actions">
          <ion-button class="call-to-action-btn" size="small" fill="outline" color="medium"
            (click)="showProviderInfo()">Service Provider
          </ion-button>
        </ion-col>
        <!-- <ion-col class="main-actions">
          <ion-button class="call-to-action-btn" size="small" color="primary">FOLLOW</ion-button>
          <ion-button class="call-to-action-btn" size="small" color="medium">MESSAGE</ion-button>
        </ion-col> -->
        <ion-col class="secondary-actions">
          <ion-button class="more-btn" size="small" fill="clear" color="medium" (click)="openLanguageChooser()">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-list inset="true">
    <ion-item detail (click)="onPassword()">
      <ion-icon name="lock" slot="start"></ion-icon>
      <ion-label>Change Password</ion-label>
    </ion-item>

    <ion-item detail (click)="onSettings()">
      <ion-icon name="cog" slot="start"></ion-icon>
      <ion-label>Advanced Settings</ion-label>
    </ion-item>

    <ion-item detail (click)="onLogout()">
      <ion-icon name="log-out" slot="start"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<!-- Service providers page -->
<ion-bottom-drawer *ngIf="showProvider" [(state)]="drawerState" [minimumHeight]="minimumHeight"
  [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce" [distanceTop]="distanceTop">
  <div class="drawer-content">
    <ion-row style="padding: 16px;
    background: lightgray;">
      <ion-col style="text-align: center;">
        <p style="font-size: 1.1em; font-weight: 500; margin: 0px;">Provider's Info</p>
      </ion-col>
    </ion-row>

    <div class="div">
      <img src="assets/imgs/user-1.png">
    </div>
    <hr>
    <ion-row padding>
      <ion-col size="5">
        <p style="margin: 0px; font-size: 0.9em;">Name</p>
      </ion-col>
      <ion-col size="1">
        <p style="margin: 0px; font-size: 0.9em;">:</p>
      </ion-col>
      <ion-col size="6">
        <p style="margin:0px; font-size: 0.9em; color: gray;">
          {{sorted.first_name}}&nbsp;{{sorted.last_name}}</p>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col size="5">
        <p style="margin: 0px; font-size: 0.9em;">Contact Number</p>
      </ion-col>
      <ion-col size="1">
        <p style="margin: 0px; font-size: 0.9em;">:</p>
      </ion-col>

      <ion-col size="6">
        <p style="margin:0px; padding:0px; font-size: 0.9em; color: gray;">{{sorted.phone}}</p>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col size="5">
        <p style="margin: 0px; font-size: 0.9em;">Mobile Number</p>
      </ion-col>
      <ion-col size="1">
        <p style="margin: 0px; font-size: 0.9em;">:</p>
      </ion-col>

      <ion-col size="6">
        <p style="margin:0px; padding:0px; font-size: 0.9em; color: gray;">{{sorted.phone}}</p>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col size="5">
        <p style="margin: 0px; font-size: 0.9em;">E-mail Id</p>
      </ion-col>
      <ion-col size="1">
        <p style="margin: 0px; font-size: 0.9em;">:</p>
      </ion-col>

      <ion-col size="6">
        <p style="margin:0px; padding:0px; font-size: 0.9em; color: gray;">{{sorted.email}}</p>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col size="5">
        <p style="margin: 0px; font-size: 0.9em;">Address</p>
      </ion-col>
      <ion-col size="1">
        <p style="margin: 0px; font-size: 0.9em;">:</p>
      </ion-col>
      <ion-col size="6">
        <p style="margin:0px; padding:0px; font-size: 0.9em; color: gray;">N/A</p>
      </ion-col>
    </ion-row>
  </div>
</ion-bottom-drawer>

<!-- Password update page -->
<ion-bottom-drawer *ngIf="showPassword" [(state)]="drawerState" [minimumHeight]="minimumHeight"
  [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce" [distanceTop]="distanceTop">
  <div class="drawer-content">
    <ion-row style="padding: 16px;
    background: lightgray;">
      <ion-col style="text-align: center;">
        <p style="font-size: 1.1em; font-weight: 500; margin: 0px;">Update Password</p>
      </ion-col>
    </ion-row>
    <ion-list>
      <ion-item>
        <ion-icon name="lock" slot="start"></ion-icon>
        <ion-label position="floating">Enter old password</ion-label>
        <ion-input *ngIf="!show" type="password" [(ngModel)]="opass"></ion-input>
        <ion-input *ngIf="show" type="text" [(ngModel)]="opass"></ion-input>
        <ion-icon *ngIf="!show" (click)="show = !show" style="margin: auto;" slot="end" name="eye-off"></ion-icon>
        <ion-icon *ngIf="show" (click)="show = !show" style="margin: auto;" slot="end" name="eye"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="lock" slot="start"></ion-icon>
        <ion-label position="floating">Enter new password</ion-label>
        <ion-input *ngIf="!show1" type="password" [(ngModel)]="newpass"></ion-input>
        <ion-input *ngIf="show1" type="text" [(ngModel)]="newpass"></ion-input>
        <ion-icon *ngIf="!show1" (click)="show1 = !show1" style="margin: auto;" slot="end" name="eye-off"></ion-icon>
        <ion-icon *ngIf="show1" (click)="show1 = !show1" style="margin: auto;" slot="end" name="eye"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="lock" slot="start"></ion-icon>
        <ion-label position="floating">Cofirm new password</ion-label>
        <ion-input *ngIf="!show2" type="password" [(ngModel)]="cpass"></ion-input>
        <ion-input *ngIf="show2" type="text" [(ngModel)]="cpass"></ion-input>
        <ion-icon *ngIf="!show2" (click)="show2 = !show2" style="margin: auto;" slot="end" name="eye-off"></ion-icon>
        <ion-icon *ngIf="show2" (click)="show2 = !show2" style="margin: auto;" slot="end" name="eye"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-row padding>
      <ion-col>
        <ion-button expand="block" [disabled]="(opass === undefined || newpass === undefined || cpass === undefined)"
          (click)="onPasswordSubmit()">Submit</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-bottom-drawer>
<!-- Settings update page-->
<ion-bottom-drawer *ngIf="showSettings" [(state)]="drawerState" [minimumHeight]="minimumHeight"
  [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce" [distanceTop]="distanceTop">
  <div class="drawer-content">
    <ion-row style="padding: 16px;
    background: lightgray;">
      <ion-col style="text-align: center;">
        <p style="font-size: 1.1em; font-weight: 500; margin: 0px;">Settings</p>
      </ion-col>
    </ion-row>
    <ion-list>
      <ion-item>
        <ion-icon name="mic" slot="start"></ion-icon>
        <ion-label>Voice notification</ion-label>
        <ion-toggle slot="end" [(ngModel)]="voiceNotif"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="moon" slot="start"></ion-icon>
        <ion-label>Set map's night mode</ion-label>
        <ion-toggle slot="end" [(ngModel)]="mapNightMode"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Set default home screen</ion-label>
        <ion-select slot="end" interface="popover" [(ngModel)]="defaultScreen">
          <ion-select-option value="dash">Dashboard</ion-select-option>
          <ion-select-option value="live">Multiple Live Tracking</ion-select-option>
          <ion-select-option value="veh">Vehicle List</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="map" slot="start"></ion-icon>
        <ion-label>Set default map type</ion-label>
        <ion-select slot="end" interface="popover" [(ngModel)]="defaultMapType">
          <ion-select-option value="normal">Normal</ion-select-option>
          <ion-select-option value="hybrid">Hybrid</ion-select-option>
          <ion-select-option value="sate">Satelite</ion-select-option>
          <ion-select-option value="terrain">Terrain</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="mic" slot="start"></ion-icon>
        <ion-label>Set default fuel unit</ion-label>
        <ion-select slot="end" interface="popover" [(ngModel)]="defaultFuelUnit">
          <ion-select-option value="litre">Litre (L)</ion-select-option>
          <ion-select-option value="perc">Percentage (%)</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item detail (click)="onImmobPass()">
        <ion-icon name="lock" slot="start"></ion-icon>
        <ion-label>Set immobilize password</ion-label>
      </ion-item>
      <ion-item detail>
        <ion-icon name="notifications" slot="start"></ion-icon>
        <ion-label>Advanced notification settings</ion-label>
      </ion-item>
    </ion-list>

    <ion-row padding>
      <ion-col>
        <ion-button expand="block" (click)="onApplyChnages()">Apply Changes</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-bottom-drawer>