<ion-header>
  <ion-toolbar>
    <ion-title>AddGeofence</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="enter location">
  </ion-searchbar> 
  <ion-list [hidden] = "!search.length">
    <ion-item (click)="showPlace(item)" *ngFor="let item of searchReasults">
        {{ item.description }}
    </ion-item>  
  </ion-list> -->
 

  <div #mapElement id="map"> 
     <!-- <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="enter location">
  </ion-searchbar>  
      <ion-list>
        <ion-item *ngFor="let item of searchReasults">
            {{ item.description }}
        </ion-item>  
      </ion-list> -->
  </div> 
</ion-content>
