<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/maintabs/tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Vehicle List</ion-title>
  </ion-toolbar>
  <ion-segment scrollable color="secondary" (ionChange)="segmentChanged($event)" [value]="checkIfStat"
    style="background: floralwhite;">
    <ion-segment-button class="segClass" value="RUNNING">
      <ion-label>RUNNING</ion-label>
    </ion-segment-button>
    <ion-segment-button class="segClass" value="STOPPED">
      <ion-label>STOPPED</ion-label>
    </ion-segment-button>
    <ion-segment-button class="segClass" value="IDLING">
      <ion-label>IDLING</ion-label>
    </ion-segment-button>
    <ion-segment-button class="segClass" value="OUT OF REACH">
      <ion-label>OUT OF REACH</ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button class="segClass" value="Maintainance">
      <ion-label>MAINTAINANCE</ion-label>
    </ion-segment-button> -->
    <ion-segment-button class="segClass" value="NO GPS FIX">
      <ion-label>NO GPS</ion-label>
    </ion-segment-button>
    <ion-segment-button class="segClass" value="NO DATA">
      <ion-label>NO DATA</ion-label>
    </ion-segment-button>
    <ion-segment-button class="segClass" value="Expired">
      <ion-label>EXPIRED</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" no-padding>
        <ion-card *ngIf="vehicleListData.length === 0">
          <ion-card-content>
            <p>Oops.. Vehicle List not found. :(</p>
          </ion-card-content>
        </ion-card>
        <ion-card *ngFor="let d of vehicleListData;" style="padding: 0px; margin: 2px;">
          <ion-card-header style="padding: 5px;">
            <ion-row>
              <ion-col size="3" *ngIf="(d.vehicleType != null || d.vehicleType != undefined) && d.iconType !== null">
                <!-- vehicle type car -->
                <ion-img *ngIf="((d.iconType == 'car')&&(d.status=='STOPPED'))" src="assets/imgs/icons/redcar.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf='((d.iconType == "car")&&(d.status=="RUNNING"))' src="assets/imgs/icons/greencar.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'car')&&(d.status=='OUT OF REACH'))" src="assets/imgs/icons/bluecar.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'car')&&(d.status=='IDLING'))" src="assets/imgs/icons/yellowcar.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'car')&&(d.status=='NO GPS FIX'))" src="assets/imgs/icons/graycar.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'car')&&(d.status=='NO DATA'))" src="assets/imgs/icons/graycar.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>

                <!-- vehicle type bus -->
                <ion-img *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='STOPPED'))"
                  src="assets/imgs/icons/redbus.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='RUNNING'))"
                  src="assets/imgs/icons/greenbus.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='OUT OF REACH'))"
                  src="assets/imgs/icons/bluebus.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='IDLING'))"
                  src="assets/imgs/icons/yellowbus.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='NO GPS FIX'))"
                  src="assets/imgs/icons/graybus.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='NO DATA'))"
                  src="assets/imgs/icons/graybus.png" style="width: 55px; margin-top: -10px;"></ion-img>

                <!-- vehicle type truck -->
                <ion-img *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='STOPPED'))"
                  src="assets/imgs/icons/redtruck.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='RUNNING'))"
                  src="assets/imgs/icons/greentruck.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='OUT OF REACH'))"
                  src="assets/imgs/icons/bluetruck.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='IDLING'))"
                  src="assets/imgs/icons/yellowtruck.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='NO GPS FIX'))"
                  src="assets/imgs/icons/graytruck.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='NO DATA'))"
                  src="assets/imgs/icons/graytruck.png" style="width: 55px; margin-top: -10px;"></ion-img>

                <!-- vehicle type bike -->
                <ion-img *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='STOPPED'))"
                  src="assets/imgs/icons/redbike.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='RUNNING'))"
                  src="assets/imgs/icons/greenbike.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='OUT OF REACH'))"
                  src="assets/imgs/icons/bluebike.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='IDLING'))"
                  src="assets/imgs/icons/yellowbike.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='NO GPS FIX'))"
                  src="assets/imgs/icons/graybike.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='NO DATA'))"
                  src="assets/imgs/icons/graybike.png" style="width: 55px; margin-top: -10px;"></ion-img>

                <!-- vehicle type tractor -->
                <ion-img *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='STOPPED'))"
                  src="assets/imgs/icons/redtractor.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='RUNNING'))"
                  src="assets/imgs/icons/greentractor.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='OUT OF REACH'))"
                  src="assets/imgs/icons/bluetractor.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='IDLING'))"
                  src="assets/imgs/icons/yellowbike.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='NO GPS FIX'))"
                  src="assets/imgs/icons/graytractor.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='NO DATA'))"
                  src="assets/imgs/icons/graytractor.png" style="width: 55px; margin-top: -10px;"></ion-img>

                <!-- vehicle type jcb -->
                <ion-img *ngIf="((d.vehicleType.iconType === 'jcb')&&(d.status === 'STOPPED'))"
                  src="assets/imgs/icons/redjcb.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType === 'jcb')&&(d.status === 'RUNNING'))"
                  src="assets/imgs/icons/greenjcb.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType === 'jcb')&&(d.status === 'OUT OF REACH'))"
                  src="assets/imgs/icons/bluejcb.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType === 'jcb')&&(d.status === 'IDLING'))"
                  src="assets/imgs/icons/yellowjcb.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType === 'jcb')&&(d.status === 'NO GPS FIX'))"
                  src="assets/imgs/icons/grayjcb.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType === 'jcb')&&(d.status === 'NO DATA'))"
                  src="assets/imgs/icons/grayjcb.png" style="width: 55px; margin-top: -10px;"></ion-img>

              </ion-col>
              <ion-col size="3" *ngIf="d.vehicleType !== null && d.iconType === null">
                <!-- vehicle type car -->
                <ion-img *ngIf="((d.vehicleType.iconType == 'car')&&(d.status=='STOPPED'))"
                  src="assets/imgs/icons/redcar.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'car')&&(d.status=='RUNNING'))"
                  src="assets/imgs/icons/greencar.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'car')&&(d.status=='OUT OF REACH'))"
                  src="assets/imgs/icons/bluecar.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'car')&&(d.status=='IDLING'))"
                  src="assets/imgs/icons/yellowcar.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'car')&&(d.status=='NO GPS FIX'))"
                  src="assets/imgs/icons/graycar.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'car')&&(d.status=='NO DATA'))"
                  src="assets/imgs/icons/graycar.png" style="width: 55px; margin-top: -10px;"></ion-img>

                <!-- vehicle type bus -->
                <ion-img *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='STOPPED'))"
                  src="assets/imgs/icons/redbus.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='RUNNING'))"
                  src="assets/imgs/icons/greenbus.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='OUT OF REACH'))"
                  src="assets/imgs/icons/bluebus.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='IDLING'))"
                  src="assets/imgs/icons/yellowbus.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='NO GPS FIX'))"
                  src="assets/imgs/icons/graybus.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='NO DATA'))"
                  src="assets/imgs/icons/graybus.png" style="width: 55px; margin-top: -10px;"></ion-img>

                <!-- vehicle type truck -->
                <ion-img *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='STOPPED'))"
                  src="assets/imgs/icons/redtruck.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='RUNNING'))"
                  src="assets/imgs/icons/greentruck.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='OUT OF REACH'))"
                  src="assets/imgs/icons/bluetruck.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='IDLING'))"
                  src="assets/imgs/icons/yellowtruck.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='NO GPS FIX'))"
                  src="assets/imgs/icons/graytruck.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='NO DATA'))"
                  src="assets/imgs/icons/graytruck.png" style="width: 55px; margin-top: -10px;"></ion-img>


                <!-- vehicle type bike -->
                <ion-img *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='STOPPED'))"
                  src="assets/imgs/icons/redbike.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='RUNNING'))"
                  src="assets/imgs/icons/greenbike.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='OUT OF REACH'))"
                  src="assets/imgs/icons/bluebike.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='IDLING'))"
                  src="assets/imgs/icons/yellowbike.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='NO GPS FIX'))"
                  src="assets/imgs/icons/graybike.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='NO DATA'))"
                  src="assets/imgs/icons/graybike.png" style="width: 55px; margin-top: -10px;"></ion-img>

                <!-- vehicle type tractor -->
                <ion-img *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='STOPPED'))"
                  src="assets/imgs/icons/redtractor.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='RUNNING'))"
                  src="assets/imgs/icons/greentractor.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='OUT OF REACH'))"
                  src="assets/imgs/icons/bluetractor.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='IDLING'))"
                  src="assets/imgs/icons/yellowbike.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='NO GPS FIX'))"
                  src="assets/imgs/icons/graytractor.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='NO DATA'))"
                  src="assets/imgs/icons/graytractor.png" style="width: 55px; margin-top: -10px;"></ion-img>

                <!-- vehicle type jcb -->
                <ion-img *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.status=='STOPPED'))"
                  src="assets/imgs/icons/redjcb.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.status=='RUNNING'))"
                  src="assets/imgs/icons/greenjcb.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.status=='OUT OF REACH'))"
                  src="assets/imgs/icons/bluejcb.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.status=='IDLING'))"
                  src="assets/imgs/icons/yellowjcb.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.status=='NO GPS FIX'))"
                  src="assets/imgs/icons/grayjcb.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.status=='NO DATA'))"
                  src="assets/imgs/icons/grayjcb.png" style="width: 55px; margin-top: -10px;"></ion-img>

              </ion-col>
              <ion-col size="3" *ngIf="d.vehicleType === null && d.iconType !== null">
                <!-- vehicle type car -->
                <ion-img *ngIf="((d.iconType == 'car')&&(d.status=='STOPPED'))" src="assets/imgs/icons/redcar.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'car')&&(d.status=='RUNNING'))" src="assets/imgs/icons/greencar.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'car')&&(d.status=='OUT OF REACH'))" src="assets/imgs/icons/bluecar.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'car')&&(d.status=='IDLING'))" src="assets/imgs/icons/yellowcar.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'car')&&(d.status=='NO GPS FIX'))" src="assets/imgs/icons/graycar.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'car')&&(d.status=='NO DATA'))" src="assets/imgs/icons/graycar.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>

                <!-- vehicle type bus -->
                <ion-img *ngIf="((d.iconType == 'bus')&&(d.status=='STOPPED'))" src="assets/imgs/icons/redbus.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'bus')&&(d.status=='RUNNING'))" src="assets/imgs/icons/greenbus.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'bus')&&(d.status=='OUT OF REACH'))" src="assets/imgs/icons/bluebus.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'bus')&&(d.status=='IDLING'))" src="assets/imgs/icons/yellowbus.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'bus')&&(d.status=='NO GPS FIX'))" src="assets/imgs/icons/graybus.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'bus')&&(d.status=='NO DATA'))" src="assets/imgs/icons/graybus.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>

                <!-- vehicle type truck -->
                <ion-img *ngIf="((d.iconType == 'truck')&&(d.status=='STOPPED'))" src="assets/imgs/icons/redtruck.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'truck')&&(d.status=='RUNNING'))" src="assets/imgs/icons/greentruck.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'truck')&&(d.status=='OUT OF REACH'))"
                  src="assets/imgs/icons/bluetruck.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'truck')&&(d.status=='IDLING'))" src="assets/imgs/icons/yellowtruck.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'truck')&&(d.status=='NO GPS FIX'))"
                  src="assets/imgs/icons/graytruck.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'truck')&&(d.status=='NO DATA'))" src="assets/imgs/icons/graytruck.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>

                <!-- vehicle type bike -->
                <ion-img *ngIf="((d.iconType == 'bike')&&(d.status=='STOPPED'))" src="assets/imgs/icons/redbike.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'bike')&&(d.status=='RUNNING'))" src="assets/imgs/icons/greenbike.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'bike')&&(d.status=='OUT OF REACH'))"
                  src="assets/imgs/icons/bluebike.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'bike')&&(d.status=='IDLING'))" src="assets/imgs/icons/yellowbike.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'bike')&&(d.status=='NO GPS FIX'))" src="assets/imgs/icons/graybike.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'bike')&&(d.status=='NO DATA'))" src="assets/imgs/icons/graybike.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>

                <!-- vehicle type tractor -->
                <ion-img *ngIf="((d.iconType == 'tractor')&&(d.status=='STOPPED'))"
                  src="assets/imgs/icons/redtractor.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'tractor')&&(d.status=='RUNNING'))"
                  src="assets/imgs/icons/greentractor.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'tractor')&&(d.status=='OUT OF REACH'))"
                  src="assets/imgs/icons/bluetractor.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'tractor')&&(d.status=='IDLING'))"
                  src="assets/imgs/icons/yellowbike.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'tractor')&&(d.status=='NO GPS FIX'))"
                  src="assets/imgs/icons/graytractor.png" style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'tractor')&&(d.status=='NO DATA'))"
                  src="assets/imgs/icons/graytractor.png" style="width: 55px; margin-top: -10px;"></ion-img>

                <!-- vehicle type jcb -->
                <ion-img *ngIf="((d.iconType == 'jcb')&&(d.status=='STOPPED'))" src="assets/imgs/icons/redjcb.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'jcb')&&(d.status=='RUNNING'))" src="assets/imgs/icons/greenjcb.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'jcb')&&(d.status=='OUT OF REACH'))" src="assets/imgs/icons/bluejcb.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'jcb')&&(d.status=='IDLING'))" src="assets/imgs/icons/yellowjcb.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'jcb')&&(d.status=='NO GPS FIX'))" src="assets/imgs/icons/grayjcb.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>
                <ion-img *ngIf="((d.iconType == 'jcb')&&(d.status=='NO DATA'))" src="assets/imgs/icons/grayjcb.png"
                  style="width: 55px; margin-top: -10px;"></ion-img>

              </ion-col>
              <ion-col size="9">
                <ion-card-title style="font-size: 1.25em;" class="ion-no-padding">{{d.Device_Name}}<ion-badge
                    float-right *ngIf="d.last_speed">
                    {{d.last_speed}} km/h</ion-badge>
                </ion-card-title>
                <ion-card-subtitle style="font-size: 0.7em;" class="ion-no-padding">{{ d.status }} since&nbsp;{{
                    d.status_updated_at | date: "mediumDate"
                  }}, {{
                    d.status_updated_at | date: "shortTime"
                  }}</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content no-padding>
            <ion-row no-padding style="padding-top: 5px; background: #f2f2f2; padding-bottom: 5px;">
              <ion-col size="1" class="ion-no-padding">
                <ion-row (click)="btnClicked(d, 'live')">
                  <ion-col size="12" text-center no-padding>
                    <ion-icon name="pin" style="font-size: 1em; color: mediumseagreen;"></ion-icon>
                  </ion-col>
                  <ion-col size="12" text-center class="ion-no-padding">
                    <p style="margin: 0px; font-size: 0.7em;">Live</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="2" no-padding>
                <ion-row (click)="btnClicked(d, 'history')">
                  <ion-col size="12" text-center no-padding>
                    <ion-icon name="time" style="font-size: 1em; color: tomato;"></ion-icon>
                  </ion-col>
                  <ion-col size="12" text-center class="ion-no-padding">
                    <p style="margin: 0px; font-size: 0.7em;">History</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="1" no-padding>
                <ion-row>
                  <ion-col size="12" text-center no-padding>
                    <ion-icon name="key" style="font-size: 1em;" color="danger" *ngIf="d.last_ACC == '0'"></ion-icon>
                    <ion-icon name="key" style="font-size: 1em;" color="secondary" *ngIf="d.last_ACC == '1'"></ion-icon>
                    <ion-icon name="key" style="font-size: 1em;" *ngIf="d.last_ACC == null"></ion-icon>
                  </ion-col>
                  <ion-col size="12" text-center class="ion-no-padding">
                    <p style="margin: 0px; font-size: 0.7em;">Ign</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="2" no-padding (click)="btnClicked(d, 'lock')">
                <ion-row>
                  <ion-col size="12" text-center no-padding>
                    <ion-icon name="lock" style="font-size: 1em;" color="danger" *ngIf="d.ignitionLock == '1'">
                    </ion-icon>
                    <ion-icon name="lock" style="font-size: 1em;" color="secondary" *ngIf="d.ignitionLock == '0'">
                    </ion-icon>
                  </ion-col>
                  <ion-col size="12" text-center class="ion-no-padding">
                    <p style="margin: 0px; font-size: 0.7em;">Lock</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="1" no-padding (click)="btnClicked(d, 'tow')">
                <ion-row>
                  <ion-col size="12" text-center no-padding>
                    <ion-icon name="alert" style="font-size: 1em;" color="danger" *ngIf="d.towAlert"></ion-icon>
                    <ion-icon name="alert" style="font-size: 1em;" color="secondary" *ngIf="!d.towAlert"></ion-icon>
                  </ion-col>
                  <ion-col size="12" text-center class="ion-no-padding">
                    <p style="margin: 0px; font-size: 0.7em;">Tow</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="2" no-padding>
                <ion-row>
                  <ion-col size="12" text-center no-padding>
                    <ion-icon name="power" style="font-size: 1em;" color="danger" *ngIf="d.power != '1'"></ion-icon>
                    <ion-icon name="power" style="font-size: 1em;" color="secondary" *ngIf="d.power == '1'"></ion-icon>
                  </ion-col>
                  <ion-col size="12" text-center class="ion-no-padding">
                    <p style="margin: 0px; font-size: 0.7em;">Power</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="1" no-padding (click)="btnClicked(d, 'theft')">
                <ion-row>
                  <ion-col size="12" text-center style="padding: 0px 0px 5px 0px;">
                    <ion-img style="width: 15px; margin: auto;" src="assets/imgs/theft.png" *ngIf="d.theftAlert">
                    </ion-img>
                    <ion-img style="width: 15px; margin: auto;" src="assets/imgs/antitheft.png" *ngIf="!d.theftAlert">
                    </ion-img>
                  </ion-col>
                  <ion-col size="12" text-center class="ion-no-padding">
                    <p style="margin: 0px; font-size: 0.7em;">Theft</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="2" no-padding (click)="btnClicked(d, 'driver')">
                <ion-row>
                  <ion-col size="12" text-center no-padding>
                    <ion-icon name="call" style="font-size: 1em;"></ion-icon>
                  </ion-col>
                  <ion-col size="12" text-center class="ion-no-padding">
                    <p style="margin: 0px; font-size: 0.7em;">Driver</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="7" class="ion-no-padding">
                <ion-row style="background: lightgrey; color: black;">
                  <ion-col size="2" text-center style="color: rgb(8, 187, 88); margin-top: 1px;">
                    <ion-icon name="pin" style="font-size: 1.8em;"></ion-icon>
                  </ion-col>
                  <ion-col size="10">
                    <p style="font-size: 0.8em;">Near new sai temple vinobha nagar tumsar 441912.</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="5" class="ion-no-padding" style="background: #cd2a00; color: white;">
                <ion-row>
                  <ion-col size="12" text-center>
                    <p style="font-size: 0.8em; font-weight: 500;">Today's Distance</p>
                  </ion-col>
                  <ion-col size="12" no-padding text-center style="margin-top: -7px;">
                    <p style="font-weight: 600;">{{d.today_odo | number: "1.0-2" }} Km(s)</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row style="background-color: #000;
            color: white;
            font-weight: bold;font-size: 0.6em;">
              <ion-col size="6">Licence Purchased On - {{d.created_on | date:'mediumDate'}}</ion-col>
              <ion-col size="6" style="text-align: right;">Licence Expired On -
                {{d.expiration_date | date:'mediumDate'}}
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more vehicles...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>