@import "../../../theme/mixins/scrollbars";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);

  --page-categories-gutter: calc(var(--page-margin) / 4);

  --page-category-background: var(--ion-color-medium);
  --page-category-background-rgb: var(--ion-color-medium-rgb);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.categories-list {
  --ion-grid-column-padding: var(--page-categories-gutter);

  padding: calc(var(--page-categories-gutter) * 3);
  height: 100%;
  align-content: flex-start;
  overflow: scroll;

  @include hide-scrollbars();

  .category-item {
    .category-anchor {
      height: 100%;
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .category-title {
        margin: auto;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        padding: calc((var(--page-margin) / 4) * 3) var(--page-margin);
        color: var(--ion-color-lightest);
        background-color: var(--page-category-background);
        border-radius: var(--app-fair-radius);
      }

      .category-subTitle {
        margin: auto;
        text-transform: uppercase;
        // font-weight: 400;
        font-size: 15px;
        // letter-spacing: 1px;
        // padding: calc((var(--page-margin) / 4) * 3) var(--page-margin);
        color: var(--ion-color-lightest);
        // background-color: var(--page-category-background);
        // border-radius: var(--app-fair-radius);
      }
    }
  }

  .tools-category {
    --page-category-background: #ee5555;
    --page-category-background-rgb: 0, 175, 255;
  }

  .toll-category {
    --page-category-background: #061c52;
    --page-category-background-rgb: 203, 50, 143;
  }

  .service-category {
    --page-category-background: #fe8a49;
    --page-category-background-rgb: 235, 187, 0;
  }

  .fuel-category {
    --page-category-background: #5b8016;
    --page-category-background-rgb: 235, 187, 0;
  }

  .labour-category {
    --page-category-background: #334861;
    --page-category-background-rgb: 112, 223, 112;
  }

  .salary-category {
    --page-category-background: #b8996a;
    --page-category-background-rgb: 217, 69, 58;
  }
}
