.mainDiv {
  padding: 50px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.secondDiv {
  padding-top: 20px;
  border-radius: 18px;
  border: 2px solid black;
  background: white;
}

ion-card, .card-ios, .card-md {
    border: 0 !important;
    box-shadow: none !important;
    border: none !important;
    border-style: none !important;
    position: relative;
    text-align: center;
  }
  .card{
    border: 0 !important;
    box-shadow: 0 !important;
    border: none !important;
    border-style: none !important;
  }
