<div class="mainDiv">
  <div class="secondDiv">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-card>
              <ion-card-content>
                <ion-item>
                  <ion-input placeholder="Enter OTP here" type="tel" minlength="4" maxlength="4" ngModel name="otp"
                    required></ion-input>
                </ion-item>
              </ion-card-content>
              <ion-button [disabled]="!f.valid" type="submit">Verify OTP</ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</div>