<ion-header>
  <ion-toolbar style='--background:var(--my-var); color: white;'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/expense"></ion-back-button>
    </ion-buttons>
    <ion-title>{{expId | titlecase }} Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>