.background-image {
  --background: url(../../assets/imgs/spl.jpg) 0 0/100% 100% no-repeat;
  /* Add the blur effect */
  //   filter: blur(8px);
  //   -webkit-filter: blur(8px);
}

.bg-item {
  --background: rgba(0, 0, 0, 0);
  --color: white;
  --border-color: rgb(66, 64, 64);
//   --color-activated: white;
//   --color-focused	: white;
}
// :root {
//   --ion-color-danger: #f04141;  
// }
// ion-item .item-has-focus ion-label.ion-color {  
//   color: white !important;
//   // color: var(--ion-color-danger) !important;
// }

.secondary {
  color: #cd2a00;
}
