<ion-content padding class="background-image">

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" no-padding>
          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="6">
              <ion-img src="assets/icon/icon.png"></ion-img>
            </ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
          <ion-list *ngIf="isLogin" style="background: transparent;">
            <ion-item class="bg-item">
              <ion-label position="floating" style="font-size: 1.2em; color: white;">E-Mail / Mobile Number / User Id
              </ion-label>
              <ion-input type="text" ngModel name="email" required #emailCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none" class="ion-no-padding bg-item">
              <ion-icon style="font-size: 15px;font-weight:bolder;padding-left: 16px; padding-right: 5px;" color="light"
                name="information-circle-outline"></ion-icon>
              <ion-label color="light" style="font-size: 0.8em; font-weight: 400;">
                email-id / mobile number is required!
              </ion-label>
            </ion-item>
            <ion-item class="bg-item">
              <ion-label position="floating" style="font-size: 1.2em; color: white;">Password</ion-label>
              <ion-input type="password" ngModel name="password" required #passwordCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none" class="ion-no-padding bg-item">
              <ion-icon style="font-size: 15px;font-weight:bolder;padding-left: 16px; padding-right: 5px;" color="light"
                name="information-circle-outline"></ion-icon>
              <ion-label color="light" style="font-size: 0.8em; font-weight: 400;">
                password is required!
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="!isLogin" style="background: transparent;">
            <ion-item class="bg-item">
              <ion-label position="floating">User Id</ion-label>
              <ion-input type="text" ngModel name="userid" required #userIdCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!userIdCtrl.valid && userIdCtrl.touched" lines="none" class="ion-no-padding bg-item"
              style="color: #fff;">
              <ion-icon style="font-size: 15px; font-weight:bolder; padding-left: 16px; padding-right: 5px;"
                name="information-circle-outline" color="light"></ion-icon>&nbsp;
              <ion-label style="font-size: 0.8em; font-weight: 400;">user id is required!</ion-label>
            </ion-item>
            <ion-item class="bg-item">
              <ion-label position="floating">Full Name</ion-label>
              <ion-input type="text" ngModel name="fname" required #nameCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!nameCtrl.valid && nameCtrl.touched" lines="none" class="ion-no-padding bg-item"
              style="color: #fff;">
              <ion-icon style="font-size: 15px; font-weight:bolder;padding-left: 16px; padding-right: 5px;"
                name="information-circle-outline" color="light"></ion-icon>&nbsp;
              <ion-label style="font-size: 0.8em; font-weight: 400;">name is required!</ion-label>
            </ion-item>
            <ion-item class="bg-item">
              <ion-label position="floating">Mobile Number</ion-label>
              <ion-input type="tel" ngModel name="mobno" required minlength="10" maxlength="10" #mobnoCtrl="ngModel">
              </ion-input>
            </ion-item>
            <ion-item *ngIf="!mobnoCtrl.valid && mobnoCtrl.touched" lines="none" class="ion-no-padding bg-item"
              style="color: #fff;">
              <ion-icon style="font-size: 15px; font-weight:bolder;padding-left: 16px; padding-right: 5px;"
                name="information-circle-outline" color="light"></ion-icon>&nbsp;
              <ion-label style="font-size: 0.8em; font-weight: 400;">Should atleast be 10 digits long.</ion-label>
            </ion-item>
            <ion-item class="bg-item">
              <ion-label position="floating">Email Id</ion-label>
              <ion-input type="email" ngModel name="email" required email #emailCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none" class="ion-no-padding bg-item"
              style="color: #fff;">
              <ion-icon style="font-size: 15px; font-weight:bolder;padding-left: 16px; padding-right: 5px;"
                name="information-circle-outline" color="light"></ion-icon>&nbsp;
              <ion-label style="font-size: 0.8em; font-weight: 400;">Should be a valid email address.</ion-label>
            </ion-item>
            <ion-item class="bg-item">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" ngModel name="password" required minlength="6" #passCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!passCtrl.valid && passCtrl.touched" lines="none" class="ion-no-padding bg-item"
              style="color: #fff;">
              <ion-icon style="font-size: 15px; font-weight:bolder;padding-left: 16px; padding-right: 5px;"
                name="information-circle-outline" color="light"></ion-icon>&nbsp;
              <ion-label style="font-size: 0.8em; font-weight: 400;">Should atleast be 6 characters long.</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button color="secondary" type="button" fill="clear" expand="block" (click)="onSwitchAuthMode()">Switch To
            {{ isLogin ? "Signup" : "Login" }}</ion-button>
          <ion-button color="secondary" type="submit" expand="block" [disabled]="!f.valid">
            {{ isLogin ? "Login" : "Signup" }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>