<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/maintabs/tabs/customer"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Customer's info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
