<ion-tabs>
  <ion-tab-bar clot="bottom">
    <ion-tab-button tab="dashboard" color="secondary">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button *ngIf="isDealer" tab="dashboard" (click)="onAdminClicked()">
      <ion-icon name="people"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="dealer" *ngIf="!isCustomer && !isDealer">
      <ion-icon name="people"></ion-icon>
      <ion-label>Dealer</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="customer" *ngIf="!isCustomer">
      <ion-icon name="person"></ion-icon>
      <ion-label>Customer</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="card"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>