<ion-item class="item-class" *ngIf="(receivedParentMessage !== 'dist' && receivedParentMessage !== 'sos' && receivedParentMessage !== 'history' && receivedParentMessage !== 'multipleLive')">
  <ion-label>Select Vehicle</ion-label>
  <ionic-selectable style="max-height: 45px;" [(ngModel)]="vehicleList" itemValueField="Device_ID" itemTextField="Device_Name"
    [items]="vehicleLists" [canSearch]="true" [isMultiple]="true" [hasInfiniteScroll]="true"
    (onSearch)="searchVehicles($event)" [canClear]="true" (onInfiniteScroll)="getMoreVehicles($event)" (onChange)="onChnage(vehicleList)">
  </ionic-selectable>
</ion-item>
<ion-item class="item-class" *ngIf="(receivedParentMessage === 'dist' || receivedParentMessage === 'sos' || receivedParentMessage === 'history' || receivedParentMessage === 'multipleLive')">
  <ion-label>Select Vehicle</ion-label>
  <ionic-selectable [(ngModel)]="vehicleList" itemValueField="Device_ID" itemTextField="Device_Name"
    [items]="vehicleLists" [canSearch]="true" [canClear]="true" [isMultiple]="false" [hasInfiniteScroll]="true"
    (onSearch)="searchVehicles($event)" (onInfiniteScroll)="getMoreVehicles($event)" (onChange)="onChnage(vehicleList)">
  </ionic-selectable>
</ion-item>

