// .welcome-card ion-img {
//   max-height: 35vh;
//   overflow: hidden;
// }

// ion-item {
//   --border-width: 0;
//   --inner-border-width: 0;
//   --show-full-highlight: 0;
//   --padding-start: 0;
//   --inner-padding-end: 0;
//   ion-label {
//     overflow: visible;
//   }
// }

// .floatingwithicon {
//   .calicon {
//     position: absolute;
//     bottom: 0;
//     right: 0;
//   }
//   .clearButton {
//     right: 37px !important;
//     bottom: 9px !important;
//   }
// }

// ion-icon {
//     position: absolute;
//     top: 12px;
//     right: 0;
// }

// :host {
//   ion-toggle {
//     &.ng-valid[required],
//     &.ng-valid.required,
//     &.ng-valid:not(form) {
//       border-bottom: none !important;
//     }
//     &.ng-pristine:not(form) {
//       border-bottom: none !important;
//     }
//   }
// }
