<ion-row>
  <ion-col size="6" no-padding>
    <ion-row style="padding-left: 6px;">
      <ion-col size="3" style="padding: 5px 0px 5px 0px;">
        <ion-icon style="font-size: 2.5em; margin: 0px; padding: 0px;" [src]="'assets/imgs/icons/fromClock.svg'" color="success"></ion-icon>
      </ion-col>
      <ion-col size="9" no-padding>
        <ion-row>
          <ion-col size="12">
            <p style="font-size: 0.9em;
            margin: 5px 0px 0px 0px;
            padding: 0px;">From Date</p>
          </ion-col>
          <ion-col size="12">
            <ion-datetime style="font-size: 0.65em;margin: -7px 0px 0px 0px; padding: 0px;" displayFormat="D MMM YYYY h:mm A" [(ngModel)]="fromDate" (ionChange)="onfrChangeFromDate(fromDate)"></ion-datetime>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col size="6" no-padding>
    <ion-row>
      <ion-col size="3" style="padding: 5px 0px 5px 0px;">
        <ion-icon style="font-size: 2.5em; margin: 0px; padding: 0px;" [src]="'assets/imgs/icons/toClock.svg'" color="danger"></ion-icon>
      </ion-col>
      <ion-col size="9" no-padding>
        <ion-row>
          <ion-col size="12">
            <p style="font-size: 0.9em;
            margin: 5px 0px 0px 0px;
            padding: 0px;">To Date</p>
          </ion-col>
          <ion-col size="12">
              <ion-datetime style="font-size: 0.65em;margin: -7px 0px 0px 0px; padding: 0px;" displayFormat="D MMM YYYY h:mm A" [(ngModel)]="toDate" (ionChange)="onChangeToDate(toDate)"></ion-datetime>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>