<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/fuel"></ion-back-button>
    </ion-buttons>
    <ion-title>Fuel Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>