// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
// :root {
//   --ion-color-primary: #ff3401;
//   --ion-color-primary-rgb: 255,52,1;
//   --ion-color-primary-contrast: #ffffff;
//   --ion-color-primary-contrast-rgb: 255,255,255;
//   --ion-color-primary-shade: #e02e01;
//   --ion-color-primary-tint: #ff481a;

//   --ion-color-secondary: #cd2a00;
//   --ion-color-secondary-rgb: 205,42,0;
//   --ion-color-secondary-contrast: #ffffff;
//   --ion-color-secondary-contrast-rgb: 255,255,255;
//   --ion-color-secondary-shade: #b42500;
//   --ion-color-secondary-tint: #d23f1a;

//   --ion-color-tertiary: #7044ff;
//   --ion-color-tertiary-rgb: 112,68,255;
//   --ion-color-tertiary-contrast: #ffffff;
//   --ion-color-tertiary-contrast-rgb: 255,255,255;
//   --ion-color-tertiary-shade: #633ce0;
//   --ion-color-tertiary-tint: #7e57ff;

//   --ion-color-success: #11a46e;
//   --ion-color-success-rgb: 17,164,110;
//   --ion-color-success-contrast: #ffffff;
//   --ion-color-success-contrast-rgb: 255,255,255;
//   --ion-color-success-shade: #0f9061;
//   --ion-color-success-tint: #29ad7d;

//   --ion-color-warning: #ffce00;
//   --ion-color-warning-rgb: 255,206,0;
//   --ion-color-warning-contrast: #ffffff;
//   --ion-color-warning-contrast-rgb: 255,255,255;
//   --ion-color-warning-shade: #e0b500;
//   --ion-color-warning-tint: #ffd31a;

//   --ion-color-danger: #f04141;
//   --ion-color-danger-rgb: 245,61,61;
//   --ion-color-danger-contrast: #ffffff;
//   --ion-color-danger-contrast-rgb: 255,255,255;
//   --ion-color-danger-shade: #d33939;
//   --ion-color-danger-tint: #f25454;

//   --ion-color-dark: #222428;
//   --ion-color-dark-rgb: 34,34,34;
//   --ion-color-dark-contrast: #ffffff;
//   --ion-color-dark-contrast-rgb: 255,255,255;
//   --ion-color-dark-shade: #1e2023;
//   --ion-color-dark-tint: #383a3e;

//   --ion-color-medium: #989aa2;
//   --ion-color-medium-rgb: 152,154,162;
//   --ion-color-medium-contrast: #ffffff;
//   --ion-color-medium-contrast-rgb: 255,255,255;
//   --ion-color-medium-shade: #86888f;
//   --ion-color-medium-tint: #a2a4ab;

//   --ion-color-light: #f4f5f8;
//   --ion-color-light-rgb: 244,244,244;
//   --ion-color-light-contrast: #000000;
//   --ion-color-light-contrast-rgb: 0,0,0;
//   --ion-color-light-shade: #d7d8da;
//   --ion-color-light-tint: #f5f6f9;

//   // --ion-padding: 14px;

//   --ion-toolbar-background: var(--ion-color-primary);
//   --ion-toolbar-color: var(--ion-color-primary-contrast);
// }

// ion-toolbar {
//   ion-button,
//   ion-back-button,
//   ion-menu-button,
//   .sc-ion-back-button-ios-h {
//     --color: white;
//   }
// }

// .ios .segClass{
//   padding: 5px;
// }

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #1c1c1c;
  --ion-color-primary-rgb: 28, 28, 28;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #191919;
  --ion-color-primary-tint: #333333;

  --ion-color-secondary: #cd2a00;
  --ion-color-secondary-rgb: 205,42,0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #b42500;
  --ion-color-secondary-tint: #d23f1a;

  /** secondary **/
  // --ion-color-secondary: #ff0062;
  // --ion-color-secondary-rgb: 255, 0, 98;
  // --ion-color-secondary-contrast: #ffffff;
  // --ion-color-secondary-contrast-rgb: 255, 255, 255;
  // --ion-color-secondary-shade: #e00056;
  // --ion-color-secondary-tint: #ff1a72;

  /** tertiary **/
  --ion-color-tertiary: #00afff;
  --ion-color-tertiary-rgb: 0, 175, 255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #009ae0;
  --ion-color-tertiary-tint: #1ab7ff;

  /** success **/
  --ion-color-success: #20dc6a;
  --ion-color-success-rgb: 32, 220, 106;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #1cc25d;
  --ion-color-success-tint: #36e079;

  /** warning **/
  --ion-color-warning: #ffed11;
  --ion-color-warning-rgb: 255, 237, 17;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0d10f;
  --ion-color-warning-tint: #ffef29;

  /** danger **/
  --ion-color-danger: #f4344f;
  --ion-color-danger-rgb: 244, 52, 79;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d72e46;
  --ion-color-danger-tint: #f54861;

  /** lightest **/
  --ion-color-lightest: #ffffff;
  --ion-color-lightest-rgb: 255, 255, 255;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-shade-rgb: 215, 216, 218;
  --ion-color-light-tint: #f5f6f9;
  --ion-color-light-tint-rgb: 245, 246, 249;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-shade-rgb: 134, 136, 143;
  --ion-color-medium-tint: #a2a4ab;
  --ion-color-medium-tint-rgb: 162, 164, 171;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-shade-rgb: 30, 32, 35;
  --ion-color-dark-tint: #383a3e;
  --ion-color-dark-tint-rgb: 56, 58, 62;

  /** orange **/
  // --ion-color-light: #f0810f;
  // --ion-color-light-rgb: 240,129,15;
  // --ion-color-light-contrast: #000000;
  // --ion-color-light-contrast-rgb: 0,0,0;
  // --ion-color-light-shade: #d3720d;
  // --ion-color-light-tint: #f28e27;

  /** darkest **/
  --ion-color-darkest: #000000;
  --ion-color-darkest-rgb: 0, 0, 0;
}

:root {
  /* Set the font family of the entire app */
  --ion-font-family: "Rubik", sans-serif;

  --app-background: #ffffff;
  --app-background-shade: var(--ion-background-color-step-50, #f2f2f2);
  --app-background-alt: var(--ion-color-primary);
  --app-background-alt-shade: var(--ion-color-primary-shade);

  --app-narrow-margin: 12px;
  --app-fair-margin: 16px;
  --app-broad-margin: 20px;

  --app-narrow-radius: 4px;
  --app-fair-radius: 8px;
  --app-broad-radius: 12px;
}

:root {
  ion-tab-button.tab-selected {
    ion-icon, ion-label {
      color: var(--ion-color-secondary) !important;
      --ion-color-base: var(--ion-color-secondary) !important;
    }
  }
}

html.ios {
  --app-header-height: 44px;
}

html.md {
  --app-header-height: 56px;
}
