<ion-app dir="{{textDir}}">
  <ion-split-pane>
    <ion-menu class="app-sidemenu">
      <ion-header>
        <ion-toolbar>
          <ion-row class="user-details-wrapper">
            <ion-col size="4">
              <app-aspect-ratio [ratio]="{w: 1, h: 1}">
                <app-image-shell class="user-avatar" animation="spinner" [src]="'assets/icon/icon.png'">
                </app-image-shell>
              </app-aspect-ratio>
            </ion-col>
            <ion-col class="user-info-wrapper" size="8">
              <h3 class="user-name">OneQlik VTS</h3>
              <!-- <h3 class="user-name">{{userdata._orgName}}</h3> -->
              <h5 class="user-handle">{{userdata.fn}} {{userdata.ln}}</h5>
            </ion-col>
          </ion-row>
          <ion-row class="user-stats-wrapper user-details-wrapper">
            <ion-col size="12">
              <span class="user-stat-value">
                <ion-icon name="mail"></ion-icon>
              </span>
              <span class="user-stat-name">{{userdata.email}}</span>
            </ion-col>
            <ion-col size="12">
              <span class="user-stat-value">
                <ion-icon name="call"></ion-icon>
              </span>
              <span class="user-stat-name">+91 {{userdata.phn}}</span>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-list-header>Layouts</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" *ngIf="p.title !== 'Admin'">
              <ion-icon slot="start" [src]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="p.url" *ngIf="p.title === 'Admin'" (click)="adminCall()">
              <ion-icon slot="start" [src]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!-- <ion-list>
          <ion-list-header>Forms</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/forms-and-validations']">
              <ion-icon slot="start" src="./assets/sample-icons/side-menu/forms.svg"></ion-icon>
              <ion-label>
                Forms & Validations
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/forms-filters']">
              <ion-icon slot="start" name="options"></ion-icon>
              <ion-label>
                Filters
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->
        <!-- <ion-list>
          <ion-list-header>Integrations</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/firebase/listing']">
              <ion-icon slot="start" name="flame"></ion-icon>
              <ion-label>
                Firebase
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->
        <ion-list>
          <ion-list-header>Functionalities</ion-list-header>
          <!-- <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/maps']">
              <ion-icon slot="start" name="map"></ion-icon>
              <ion-label>
                Maps & Geolocation
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/video-playlist']">
              <ion-icon slot="start" name="videocam"></ion-icon>
              <ion-label>
                Video Playlist
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/report']">
              <ion-icon slot="start" src="./assets/sample-icons/side-menu/forms.svg"></ion-icon>
              <ion-label>
                Reports
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/fuel']">
              <ion-icon slot="start" src="./assets/imgs/icons/gas.svg"></ion-icon>
              <ion-label>
                Fuel
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/expense']">
              <ion-icon slot="start" name="wallet"></ion-icon>
              <ion-label>
                Expenses
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/video-playlist']">
              <ion-icon slot="start" name="cog"></ion-icon>
              <ion-label>
                Vehicle Maintenance
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/poi']">
              <ion-icon slot="start" src="assets/sample-icons/side-menu/categories.svg"></ion-icon>
              <ion-label>
                POI List
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/user-trips']">
              <ion-icon slot="start" name="logo-model-s"></ion-icon>
              <ion-label>
                Your Trips
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <ion-list-header>Account</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of accountPages; let i = index">
            <ion-item [routerLink]="p.url">
              <ion-icon slot="start" [src]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!-- <ion-menu-toggle>
            <ion-item (click)="onLogout()">
              <ion-icon name="log-out" slot="start"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle> -->
        </ion-list>
        <!-- <ion-list>
          <ion-list-header>Showcase</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/showcase/app-shell']">
              <ion-icon slot="start" name="egg"></ion-icon>
              <ion-label>
                App Shell
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/showcase/route-resolvers-ux']">
              <ion-icon slot="start" name="cog"></ion-icon>
              <ion-label>
                Route Resolvers UX
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/showcase/custom-components']">
              <ion-icon slot="start" name="color-wand"></ion-icon>
              <ion-label>
                Custom Components
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <!-- Main app content gets rendered in this router-outlet -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>


<!-- <ion-app>
  <ion-menu slot="start">
    <ion-header>
      <ion-toolbar>
        <ion-grid no-padding>
          <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2" text-center>
              <ion-row no-padding>
                <ion-col size="4"></ion-col>
                <ion-col size="4" margin>
                  <ion-avatar>
                    <ion-img src="assets/imgs/images.png"></ion-img>
                  </ion-avatar>
                </ion-col>
                <ion-col size="4"></ion-col>
              </ion-row>
              <ion-row>
                <ion-col><ion-title>OneQlik VTS</ion-title></ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p
                    style="font-size: 0.8em; margin: 0px; padding: 5px 0px 0px 0px;"
                  >
                    <ion-icon name="call"></ion-icon> +91 3276878909
                  </p></ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col no-padding>
                  <p style="font-size: 0.8em; margin: 0px; padding: 0px;">
                    <ion-icon name="mail"></ion-icon> dummy@gmail.com
                  </p></ion-col
                >
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item
            lines="none"
            [routerLink]="['/maintabs/tabs/dashboard']"
            routerLinkActive="router-link-active"
            detail
          >
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item
            lines="none"
            [routerLink]="['/fuel']"
            routerLinkActive="router-link-active"
            detail
          >
            <ion-icon slot="start" src="assets/imgs/icons/gas.svg"></ion-icon>
            <ion-label>Fuel</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item
            lines="none"
            [routerLink]="['/report']"
            routerLinkActive="router-link-active"
            detail
          >
            <ion-icon
              slot="start"
              src="assets/imgs/icons/research.svg"
            ></ion-icon>
            <ion-label>Reports</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item
            lines="none"
            detail
            [routerLink]="['/notification']"
            routerLinkActive="router-link-active"
          >
            <ion-icon slot="start" src="assets/imgs/icons/bell.svg"></ion-icon>
            <ion-label>Notifications</ion-label></ion-item
          >
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item
            lines="none"
            detail
            (click)="onLogout()"
          >
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Logout</ion-label></ion-item
          >
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app> -->