<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="./tabs/dashbaord"></ion-back-button>
        </ion-buttons>
    <ion-title>GeoFence</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [routerLink]= "['/maintabs/tabs/dashboard/geo-fence/add-geofence']"
      routerLinkActive="forword">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="enter location">
  </ion-searchbar> 
  <ion-list [hidden] = "!search.length">
    <ion-item (click)="showPlace(item)" *ngFor="let item of searchReasults">
        {{ item.description }}
    </ion-item>  
  </ion-list>
  <div style="padding: 10px;">
    <div
      style="padding: 0px 10px 10px;margin-top: -10px; background: #f3f1f1; border-radius: 5px;"
    >
      <input
        type="radio"
        name="demo"
        value="circular"
        [(ngModel)]="autocomplete.creation_type"
        id="radio-one"
        class="form-radio"
        (click)="radioChecked('circular')"
      /><label for="radio-one" style="margin-top: 15px;"> Circular</label>
      <input
        type="radio"
        name="demo"
        value="polygon"
        id="radio-one"
        class="form-radio"
        (click)="radioChecked('circular')"
      /><label for="radio-two"> Polygon</label>
    </div>
  </div> 
  <div
  *ngIf="autocomplete.creation_type == 'circular'"
  style="padding-left: 5px; padding-right: 5px"
  [ngClass]="searchReasults.length > 0 ? 'searchclass2' : 'searchclass1'"
>
  <ion-list style="margin: 0px; border-radius: 25px; background: #d5dbe3;">
    <ion-item style="background: transparent;">
      <ion-range
        style="padding: 0px; margin: 0px;"
        min="200"
        max="5000"
        pin="false"
        [(ngModel)]="fence"
        color="secondary"
        (ionChange)="callThis(fence)"
      >
        <ion-icon
          range-left
          small
          color="gpsc"
          name="remove-circle"
        ></ion-icon>
        <span range-left style="font-size: 10px;">
          200m
        </span>
        <span range-right style="font-size: 10px;">
          500m
        </span>
        <ion-icon range-right color="gpsc" name="add-circle"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col col-6 style="padding-left: 10px;">
      Radius:
    </ion-col>
    <ion-col col-6 style="text-align: right;padding-right: 10px;">
      <ion-badge color="gpsc"> {{fence}} </ion-badge>
    </ion-col>
  </ion-row>
</div>
 

  <div #mapElement id="map"> 
    <!-- <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="enter location">
 </ion-searchbar>  
     <ion-list>
       <ion-item *ngFor="let item of searchReasults">
           {{ item.description }}
       </ion-item>  
     </ion-list> -->
 </div> 

</ion-content>
