<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{titleString}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancle()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="padding: 0px 5px;">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Enter User ID *</ion-label>
            <ion-input type="text" [(ngModel)]="userId" autocomplete autocorrect></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Enter First Name *</ion-label>
            <ion-input type="text" [(ngModel)]="fName" autocomplete autocorrect></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Enter Last Name *</ion-label>
            <ion-input type="text" [(ngModel)]="lName" autocomplete autocorrect></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Enter Email ID</ion-label>
            <ion-input type="email" [(ngModel)]="eMail"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Enter Password *</ion-label>
            <ion-input *ngIf="!show" type="password" [(ngModel)]="pass"></ion-input>
            <ion-input *ngIf="show" type="text" [(ngModel)]="pass"></ion-input>
            <ion-icon *ngIf="!show" (click)="show = !show" style="margin: auto;" slot="end" name="eye-off"></ion-icon>
            <ion-icon *ngIf="show" (click)="show = !show" style="margin: auto;" slot="end" name="eye"></ion-icon>
          </ion-item>
          <ion-item *ngIf="screenKey === 'add'">
            <ion-label position="floating">Confirm Password *</ion-label>
            <ion-input *ngIf="!show1" type="password" [(ngModel)]="cpass"></ion-input>
            <ion-input *ngIf="show1" type="text" [(ngModel)]="cpass"></ion-input>
            <ion-icon *ngIf="!show1" (click)="show1 = !show1" style="margin: auto;" slot="end" name="eye-off"></ion-icon>
            <ion-icon *ngIf="show1" (click)="show1 = !show1" style="margin: auto;" slot="end" name="eye"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Enter Mobile Number</ion-label>
            <ion-input type="number" [(ngModel)]="mobNumber"></ion-input>
          </ion-item>
          <ion-item *ngIf="screenKey === 'add'">
            <ion-label position="floating">Select Dealer</ion-label>
            <!-- <ion-input type="text" [(ngModel)]="userId" autocomplete autocorrect></ion-input> -->
            <ion-select interface="popover" [(ngModel)]="selectedDealer">
              <ion-select-option *ngFor="let dealer of dealersData" [value]="dealer.dealer_id">
                {{dealer.dealer_firstname | titlecase}} {{dealer.dealer_lastname | titlecase}}</ion-select-option>
            </ion-select>
          </ion-item>
          <p style="color: #fc9d03; font-size: 0.65em;padding-left: 16px;">{{msgString}}</p>
          <ion-item *ngIf="screenKey !== 'add'">
            <ion-label position="floating">Expiry Date</ion-label>
            <ion-input type="text" [(ngModel)]="expDate" *ngIf="!dateShow"></ion-input>
            <ion-icon name="close" slot="end" *ngIf="!dateShow" (click)="dateShow = !dateShow"></ion-icon>
            <ion-input type="date" [(ngModel)]="exDate" *ngIf="dateShow"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Enter Address</ion-label>
            <ion-textarea rows="2" [(ngModel)]="address"></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="screenKey === 'add'">
      <ion-col size="6" style="padding: 0px 5px;">
        <ion-item>
          <ion-label position="floating">Doc Type</ion-label>
          <ion-select interface="popover" okText="Okay" cancelText="Dismiss" [(ngModel)]="docType">
            <ion-select-option value="adharCard">Adhar Card</ion-select-option>
            <ion-select-option value="voterId">Voter Id</ion-select-option>
            <ion-select-option value="PANCard">PAN Card</ion-select-option>
            <ion-select-option value="DriveLicence">Driving Licence</ion-select-option>
          </ion-select>
          <!-- <ion-input type="text"  autocomplete autocorrect></ion-input> -->
        </ion-item>
      </ion-col>
      <ion-col size="6" style="padding: 0px 5px;">
        <ion-item>
          <ion-label position="floating">Doc Number</ion-label>
          <ion-input type="text" [(ngModel)]="docNumber" autocomplete autocorrect></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="screenKey === 'add'">
      <ion-col size="6" style="padding: 0px 5px;">
        <ion-item>
          <ion-button fill="outline" expand="block">Choose File</ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="6" style="padding: 0px 5px;">
        <ion-item>
          <ion-label>No File Choosen</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Enter User ID *</ion-label>
          <ion-input type="text" autocomplete autocorrect></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Enter First Name *</ion-label>
          <ion-input type="text" autocomplete autocorrect></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Enter Last Name *</ion-label>
          <ion-input type="text" autocomplete autocorrect></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Enter Email ID *</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Enter Password *</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Confirm Password *</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Enter Mobile Number</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Select Dealer</ion-label>
          <ion-input type="text" autocomplete autocorrect></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Enter Address</ion-label>
          <ion-textarea rows="2"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Doc Type</ion-label>
          <ion-input type="text" autocomplete autocorrect></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item size-sm="3">
          <ion-label position="floating">Doc Number</ion-label>
          <ion-input type="text" autocomplete autocorrect></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <ion-button fill="outline" expand="block">Choose File</ion-button>
      </ion-col>
      <ion-col size-sm="3">
        <p>No File Choosen</p>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
<ion-footer style="padding: 0px 16px 0px 16px;">
  <ion-toolbar>
    <ion-button expand="block" (click)="onSubmit()">Submit</ion-button>
  </ion-toolbar>
</ion-footer>