<ion-content class="divStyle">
    <ion-card style="--background: white;">
        <ion-card-header>
            <ion-card-title text-center>Add Points</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Points</ion-label>
                    <ion-input type="number"></ion-input>
                </ion-item>
                <p style="font-size: 0.8em;">Please type No. of points to be shared.</p>

                <ion-item>
                    <ion-label position="floating">Price/Unit</ion-label>
                    <ion-input type="number"></ion-input>
                </ion-item>
                <p style="font-size: 0.8em;">Please type per unit price of points.</p>

                <ion-item>
                    <ion-label position="floating">Payment status</ion-label>
                    <ion-select style="min-width: 100% !important;">
                        <ion-select-option>Paid</ion-select-option>
                        <ion-select-option>Credit</ion-select-option>
                        <ion-select-option>Send payment link</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
            <ion-list lines="none">
                <ion-item>
                    <ion-label>Total Allocated Points</ion-label>
                    <ion-badge slot="end">51</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Total Available Points</ion-label>
                    <ion-badge slot="end">51</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Total Amount</ion-label>
                    <ion-badge slot="end">0</ion-badge>
                </ion-item>
            </ion-list>
            <ion-row>
                <ion-col col-6>
                    <ion-button expand="block" fill="outline" (click)="onCancel()">Cancel</ion-button>
                </ion-col>
                <ion-col col-6>
                    <ion-button expand="block">Proceed</ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>