p {
  padding: 0px;
  margin: 0px;
  font-size: 0.8em;
  font-weight: 500;
}

// .ionBtn {
//   // --background: #f0810f;
//   font-size: 0.7em;
//   // padding: 10px;
//   width: 23%;
//   // background-color: #f0810f;
//   --background: #f0810f;
//   --color: black;
// }

.dottedBorder {
  margin-left: 11px;
  margin-top: -12px;
  margin-bottom: -5px;
  border-left-style: dashed;
}
