<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/report"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ report.name }} Report</ion-title>
    <ion-buttons slot="primary" *ngIf="report.key === 'daily'">
      <ion-button slot="icon-only">
        <ion-icon name="clock"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end" *ngIf="report.key === 'value' ">
      <ion-datetime class="dateStyle" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YY hh:mm a" (toDateOutput)="exampleMethodParent1($event)"
      (fromDateOutput)="exampleMethodParent($event)" (ionChange)="getDailyReportData()"></ion-datetime>
    </ion-buttons> -->
  </ion-toolbar>

    <!-- <app-select-vehicle [receivedParentMessage]="messageToSendP" (selectedVehObj)="getVehObj($event)">
    </app-select-vehicle> -->
  
</ion-header>

<ion-content>
  <ion-grid
    *ngIf="report.key === 'summ' || report.key === 'ospeed' || report.key === 'dist' || report.key === 'ac' || report.key === 'routevio' || report.key === 'sos' || report.key === 'trip' || report.key === 'stop' || report.key === 'ign' || report.key === 'daywise' || report.key === 'idle' || report.key === 'value' "
    no-padding>
    <ion-row no-padding>
      <ion-col size-sm="6" offset-sm="3" no-padding>
        <ion-row no-padding>
          <ion-col size="12" no-padding>
            <app-from-to (fromDateOutput)="exampleMethodParent($event)" (toDateOutput)="exampleMethodParent1($event)"
              [fromDate]="datetimeFrom" [toDate]="datetimeTo">
            </app-from-to>
          </ion-col>
          <ion-col size="12" style="background: #cd2a00; padding: 5px;">
            <app-select-vehicle [receivedParentMessage]="messageToSendP" (selectedVehObj)="getVehObj($event)">
            </app-select-vehicle>
          </ion-col>
          <ion-item style="background-color: #fafafa;" *ngIf="report.key === 'poi'">
            <ion-label>Min Idle Time(Min)</ion-label>
            <ion-input type="number" [(ngModel)]="minTime"></ion-input >
          </ion-item>
          <ion-col size="12">
            <ion-row style="background-color: #fafafa;">
              <ion-col style="text-align: center;">
                <ion-button class="ionBtn" shape="round" size="small" (click)="changeDate('today')">Today
                </ion-button>
                <ion-button class="ionBtn" shape="round" size="small" (click)="changeDate('yest')">
                  Yesterday</ion-button>
                <ion-button class="ionBtn" shape="round" size="small" (click)="changeDate('week')">Week
                </ion-button>
                <ion-button class="ionBtn" shape="round" size="small" (click)="changeDate('month')">Month
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col size-sm="6" offset-sm="3" no-padding>
        <div *ngIf="report.key === 'daily'">
          <ion-card *ngFor="let item of reportData">
            <ion-card-header style="padding: 5px" color="medium">

              <ion-card-subtitle>
                <ion-icon style="font-size: 1.2em;" name="logo-model-s"></ion-icon>
                &nbsp;&nbsp;&nbsp;&nbsp;{{item.Device_Name}}
              </ion-card-subtitle>

            </ion-card-header>
            <ion-card-content style="padding: 0px">
              <ion-row no-padding>
                <ion-col size="6">
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#454344;">Today Distance(km)</p>
                    </ion-col>
                    <ion-col size="4">{{item.today_odo}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#454344;">Fuel Consumption(L)</p>
                    </ion-col>
                    <ion-col size="4">{{item.mileage}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#454344;">Max Speed(km/hr)</p>
                    </ion-col>
                    <ion-col size="4">{{item.maxSpeed}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#454344;">Today Trips</p>
                    </ion-col>
                    <ion-col size="4">{{item.today_trips}}</ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="6">
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#11a46e;">Running (Hr:Min)</p>
                    </ion-col>
                    <ion-col size="4">{{item.today_running}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#ff3f32;">Stopped (Hr:Min)</p>
                    </ion-col>
                    <ion-col size="4">{{item.today_stopped}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#1bb6d4;">Out of reach (Hr:Min)</p>
                    </ion-col>
                    <ion-col size="4">{{item.t_ofr}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#ffc13c;">Idle (Hr:Min)</p>
                    </ion-col>
                    <ion-col size="4">{{item.t_idling}}</ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="report.key === 'summ'">
          <ion-card *ngFor="let item of reportData">
            <ion-card-header style="padding: 5px" color="medium" no-padding>
              <ion-row>
                <ion-col size="7">
                  <ion-card-subtitle style="color: white;" no-padding>
                    <ion-icon style="font-size: 1.2em;" name="logo-model-s"></ion-icon>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{item.Device_Name}}
                  </ion-card-subtitle>
                </ion-col>
                <ion-col size="5" text-right>
                  <ion-card-subtitle style="color: white;" no-padding>
                    Trips - {{item.tripCount}}
                  </ion-card-subtitle>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content style="padding: 0px">
              <ion-row no-padding>
                <ion-col size="6">
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#454344;">Distance (km)</p>
                    </ion-col>
                    <ion-col size="4">{{item.distance}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#454344;">Fuel Consumption (L)</p>
                    </ion-col>
                    <ion-col size="4">{{item.mileage}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#454344;">Overspeeding (Hr:Min)</p>
                    </ion-col>
                    <ion-col size="4">{{item.overspeeds}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#454344;">Route Violation</p>
                    </ion-col>
                    <ion-col size="4">{{item.routeViolations}}</ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="6">
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#11a46e;">Running (Hr:Min)</p>
                    </ion-col>
                    <ion-col size="4">{{item.ignOn}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#ff3f32;">Stopped (Hr:Min)</p>
                    </ion-col>
                    <ion-col size="4">{{item.ignOff}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#1bb6d4;">Out of reach (Hr:Min)</p>
                    </ion-col>
                    <ion-col size="4">{{item.t_ofr}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#ffc13c;">Idle (Hr:Min)</p>
                    </ion-col>
                    <ion-col size="4">{{item.t_idling}}</ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="item.StartLocation !== 'N/A'">
                <ion-col size="1" style="padding: 7px 0px; text-align: center;">
                  <ion-icon name="pin" style="font-size: 1em;margin: auto;"></ion-icon>
                </ion-col>
                <ion-col size="11">
                  <p> {{item.StartLocation}}</p>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="item.EndLocation !== 'N/A'">
                <ion-col size="1" style="padding: 7px 0px; text-align: center;">
                  <ion-icon name="pin" style="font-size: 1em;margin: auto;"></ion-icon>
                </ion-col>
                <ion-col size="11">
                  <p> {{item.EndLocation}}</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="report.key === 'ospeed'">
          <ion-card *ngFor="let item of reportData">
            <ion-card-header style="padding: 5px" color="medium" no-padding>
              <ion-card-subtitle>
                <ion-icon style="font-size: 1.2em;" name="logo-model-s"></ion-icon>
                &nbsp;&nbsp;&nbsp;&nbsp;{{item.Device_Name}}
              </ion-card-subtitle>

            </ion-card-header>
            <ion-card-content style="padding: 0px">
              <ion-row no-padding>
                <ion-col size="12">
                  <ion-row>
                    <ion-col size="5">
                      <p style="color:#11a46e;">Datetime</p>
                    </ion-col>
                    <ion-col size="7">{{item.timestamp | date:'mediumDate'}}, {{item.timestamp | date:'shortTime'}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="5">
                      <p style="color:#ff3f32;">Overspeed</p>
                    </ion-col>
                    <ion-col size="7">{{item.overSpeed}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="1">
                      <ion-icon style="font-size: 1.8em;" name="pin"></ion-icon>
                    </ion-col>
                    <ion-col size="11">
                      <p>{{item.StartLocation}}</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="report.key === 'dist'">
          <ion-card *ngFor="let item of reportData">
            <ion-item>
              <ion-icon name="car" slot="start"></ion-icon>
              <ion-label>{{item.Device_Name}}</ion-label>
              <ion-button fill="outline" slot="end">{{item.distance | number : '1.0-2'}} kms</ion-button>
            </ion-item>

            <ion-card-content>
              <ion-row>
                <ion-col size="1" style="padding: 7px 0px;">
                  <ion-icon name="pin" style="font-size: 1.8em;margin: auto; color: #419441;"></ion-icon>
                </ion-col>
                <ion-col size="11">
                  <p> {{item.StartLocation}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1" class="dottedBorder"></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1" style="padding: 7px 0px;">
                  <ion-icon name="pin" style="font-size: 1.8em;margin: auto; color: #f7573e;"></ion-icon>
                </ion-col>
                <ion-col size="11">
                  <p> {{item.EndLocation}}</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <!-- <ion-card>
            <ion-item>
                <ion-icon name="car" slot="start"></ion-icon>
              <ion-label>ion-item in</ion-label>
              <ion-button fill="outline" slot="end">100 kms</ion-button>
            </ion-item>
          
            <ion-card-content>
              <ion-row>
                <ion-col size="1" style="padding: 7px 0px;"><ion-icon name="pin" style="font-size: 1.8em;margin: auto;"></ion-icon></ion-col>
                <ion-col size="11">
                    <p>  This is content, without any paragraph or header tags,
                        within an ion-card-content element.</p>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="1" style="padding: 7px 0px;"><ion-icon name="pin" style="font-size: 1.8em;margin: auto;"></ion-icon></ion-col>
                  <ion-col size="11">
                      <p>  This is content, without any paragraph or header tags,
                          within an ion-card-content element.</p>
                  </ion-col>
                </ion-row>
            </ion-card-content>
          </ion-card> -->
        </div>
        <div *ngIf="report.key === 'trip'">
          <ion-card *ngFor="let item of reportData">
            <ion-item>
              <ion-icon name="car" slot="start"></ion-icon>
              <ion-label>{{item.Device_Name}}</ion-label>
              <ion-button fill="outline" slot="end">{{item.distance | number : '1.0-2'}} kms</ion-button>
            </ion-item>

            <ion-card-content>
              <ion-row>
                <ion-col size="1" style="padding: 7px 0px;">
                  <ion-icon name="pin" style="font-size: 1.8em;margin: auto; color: #419441;"></ion-icon>
                </ion-col>
                <ion-col size="11">
                  <p> {{item.StartLocation}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1" class="dottedBorder"></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1" style="padding: 7px 0px;">
                  <ion-icon name="pin" style="font-size: 1.8em;margin: auto; color: #f7573e;"></ion-icon>
                </ion-col>
                <ion-col size="11">
                  <p> {{item.EndLocation}}</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
            <ion-row style="margin-top: -15px; padding-left: 16px;">
              <ion-col size="1">
                <ion-icon style="font-weight: bold; font-size: 1.5em;" name="calendar"></ion-icon>
              </ion-col>
              <ion-col size="4">
                <p style="font-size: 1em; padding-top: 3px; color: darkslateblue;">{{item.Startdate}}</p>
              </ion-col>
              <ion-col size="1">
                <ion-icon style="font-weight: bold; font-size: 1.5em;" name="time"></ion-icon>
              </ion-col>
              <ion-col size="6">
                <p style="font-size: 1em; padding-top: 3px; color: darkslateblue;">DURATION {{item.duration}}</p>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
        <div *ngIf="report.key === 'ign'">
          <ion-card *ngFor="let item of reportData">
            <ion-item>
              <ion-icon name="car" slot="start"></ion-icon>
              <ion-label>{{item.Device_Name}}</ion-label>
              <ion-button slot="end" fill="clear">
                <ion-icon *ngIf="item.switch === 'OFF'" slot="icon-only" name="key"
                  style="font-size: 1.8em; color: #f7573e;"></ion-icon>
                <ion-icon *ngIf="item.switch !== 'OFF'" slot="icon-only" name="key"
                  style="font-size: 1.8em; color: #419441;"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content style="padding: 0px">
              <ion-row style="padding-left: 13px;">
                <ion-col size="1">
                  <ion-icon name="calendar" style="font-size: 1.5em;"></ion-icon>
                </ion-col>
                <ion-col size="11">{{item.timestamp | date: "medium"}}, {{item.timestamp | date:'shortTime'}}
                </ion-col>
              </ion-row>
              <ion-row style="padding-left: 11px;">
                <ion-col size="1">
                  <ion-icon style="font-size: 1.8em; color: #419441;" name="pin"></ion-icon>
                </ion-col>
                <ion-col size="11">
                  <p>{{item.StartLocation}}</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="report.key === 'sos'">
          <ion-card *ngFor="let item of reportData">
            <ion-item>
              <ion-icon name="car" slot="start"></ion-icon>
              <ion-label>{{item.vehicleName}}</ion-label>
              <!-- <ion-button slot="end" fill="clear">
                <ion-icon *ngIf="item.switch === 'OFF'" slot="icon-only" name="key"
                  style="font-size: 1.8em; color: #f7573e;"></ion-icon>
                <ion-icon *ngIf="item.switch !== 'OFF'" slot="icon-only" name="key"
                  style="font-size: 1.8em; color: #419441;"></ion-icon>
              </ion-button> -->
            </ion-item>
            <ion-card-content style="padding: 0px">
              <ion-row style="padding-left: 13px;">
                <ion-col size="1">
                  <ion-icon name="calendar" style="font-size: 1.5em;"></ion-icon>
                </ion-col>
                <ion-col size="11">{{item.timestamp | date: "medium"}}, {{item.timestamp | date:'shortTime'}}
                </ion-col>
              </ion-row>
              <!-- <ion-row style="padding-left: 11px;">
                <ion-col size="1">
                  <ion-icon style="font-size: 1.8em; color: #419441;" name="pin"></ion-icon>
                </ion-col>
                <ion-col size="11">
                  <p>{{item.address ? item.address : 'N/A'}}</p>
                  <p>Hivara-Suleman Deola Road, Beed, 414202, Hivara, India, Maharashtra</p>
                </ion-col>
              </ion-row> -->
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="report.key === 'daywise'">
            <ion-card *ngFor="let item of reportData">
            <ion-card-header style="padding: 5px" color="medium" no-padding>
              <ion-row>
                <ion-col size="7">
                  <ion-card-subtitle style="color: white;" no-padding>
                    <ion-icon style="font-size: 1.2em;" name="logo-model-s"></ion-icon>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ item.VRN }}
                  </ion-card-subtitle>
                </ion-col>
                <ion-col size="5" text-right>
                  <ion-card-subtitle style="color: white;" no-padding>
                    {{item.Date}}
                  </ion-card-subtitle>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content style="padding: 0px">
              <ion-row no-padding>
                <ion-col size="6">
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#53ab53;">Moving</p>
                    </ion-col>
                    <ion-col size="4">{{item['Moving Time']}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:#e6c917;">Idle</p>
                    </ion-col>
                    <ion-col size="4">{{item['Idle Time']}}</ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="6">
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:red;">Stopped</p>
                    </ion-col>
                    <ion-col size="4">{{item['Stoppage Time']}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <p style="color:gray;">Distance</p>
                    </ion-col>
                    <ion-col size="4">{{item['Distance(Kms)']}}</ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1" style="padding: 7px 0px; text-align: center;">
                  <ion-icon name="pin" style="font-size: 1em;margin: auto;"></ion-icon>
                </ion-col>
                <ion-col size="11">
                  <p> {{item.StartLocation}} </p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1" style="padding: 7px 0px; text-align: center;">
                  <ion-icon name="pin" style="font-size: 1em;margin: auto;"></ion-icon>
                </ion-col>
                <ion-col size="11">
                  <p> {{item.EndLocation}}</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </div>

        <div *ngIf="report.key === 'stop'">
          <ion-card *ngFor="let item of reportData">
          <ion-card-header style="padding: 5px" color="medium" no-padding>
            <ion-row>
              <ion-col size="7">
                <ion-card-subtitle style="color: white;" no-padding>
                  <ion-icon style="font-size: 1.2em;" name="logo-model-s"></ion-icon>
                  &nbsp;&nbsp;&nbsp;&nbsp;{{item.device}}
                </ion-card-subtitle>
              </ion-col>
              <ion-col size="5" text-right>
                <ion-card-subtitle style="color: white;" no-padding>
                  {{item.Durations}}
                </ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content style="padding: 0px">
            <ion-row style="padding-top:5px">
              <ion-col col-6 style="color:gray;font-size:11px;font-weight: 400;">

                <ion-icon ios="ios-time" md="md-time" style="color:#5edb82; font-size: 15px;"></ion-icon> &nbsp;
                {{item.arrival_time | date: 'short'}}
      
              </ion-col>
              <ion-col col-6 style="color:gray;font-size:11px;font-weight: 400;">
      
                <ion-icon ios="ios-time" md="md-time" style="color:#ee7272; font-size: 15px;"></ion-icon>&nbsp;
                {{item.departure_time | date: 'short'}}
      
              </ion-col>
            </ion-row>  
            <ion-row>
              <ion-col size="1" style="padding: 7px 0px; text-align: center;">
                <ion-icon name="pin" style="font-size: 1em;margin: auto;"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <p> {{item.EndLocation}} </p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>

      <div *ngIf="report.key === 'idle'">
        <ion-card *ngFor="let item of reportData">
          <ion-card-header style="padding: 5px" color="medium" no-padding>
            <ion-row>
              <ion-col size="7">
                <ion-card-subtitle style="color: white;" no-padding>
                  <ion-icon style="font-size: 1.2em;" name="logo-model-s"></ion-icon>
                  &nbsp;&nbsp;&nbsp;&nbsp;{{ item.Device_Name }}
                </ion-card-subtitle>
              </ion-col>
              <ion-col size="5" text-right>
                <ion-card-subtitle style="color: white;" no-padding>
                  AC Status - {{ item.ac_status}}
                </ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content style="padding: 0px">
            <ion-row no-padding>
              <ion-col size="12">
                <ion-row>
                  <ion-col size="4" style="padding: 8px;">
                    <p style="color:#53ab53;">Start Time</p>
                  </ion-col>
                  <ion-col size="8">{{item.start_time | date: 'mediumDate'}}, {{item.start_time | date:'shortTime'}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4" style="padding: 8px;">
                    <p style="color:red;">End Time</p>
                  </ion-col>
                  <ion-col size="8">{{item.end_time | date:'mediumDate'}}, {{item.end_time | date:'shortTime'}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4" style="padding: 8px;">
                    <p style="color:#009688;">Duration</p>
                  </ion-col>
                  <ion-col size="8">{{item.duration}}</ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1" style="padding: 7px 0px; text-align: center;">
                <ion-icon name="pin" style="font-size: 1em;margin: auto;"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <p> {{item.StartLocation}} </p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>  
      <div *ngIf="report.key ==='ac'">
        <ion-card *ngFor="let item of reportData">
          <ion-card-header style="padding: 5px" color="medium" no-padding>
            <ion-row>
              <ion-col size="7">
                <ion-card-subtitle style="color: white;" no-padding>
                  <ion-icon style="font-size: 1.2em;" name="logo-model-s"></ion-icon>
                  &nbsp;&nbsp;&nbsp;&nbsp;{{item.Device_Name}}
                </ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content style="padding: 0px">
            <ion-row no-padding>
              <ion-col size="12">
                <ion-row>
                  <ion-col size="4" style="padding: 8px;">
                    <p style="color:#53ab53;">{{item.Action_First}}&nbsp;Time</p>
                    
                    <!-- <span></span> -->
                  </ion-col>
                  <ion-col size="8">{{item.Time_First}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4" style="padding: 8px;">
                    <p style="color:red;">{{item.Action_Second}}&nbsp;Time</p>
                  </ion-col>
                  <ion-col size="8">{{item.Time_Second}}</ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>  

      <div *ngIf="report.key === 'value'">
        <ion-grid *ngFor="let item of reportData">
          <ion-row>
            <ion-col col-12 offset-sm="3">
              <ion-card style="background-image: linear-gradient(to right top, #ff5177, #ff6c88, #ff849a, #fc9aab, #f9afbb);padding: 5px">
                <p style="color: white;">Total Distance</p>
                <ion-row>
                  <ion-col col-12>
                    <p>
                      <span style="font-size: xx-large; color: white;" *ngIf="item.today_odo">{{
                            item.today_odo | number: "1.0-2"
                          }}</span>
                      <span *ngIf="!item.today_odo">00.00</span>
                      <span style="color: white;">&nbsp;KM</span>
                      <ion-buttons style="float: right;
                          font-size: xx-large; color: white;"><img src="assets/imgs/distan.png" style="width: 50px;">
                      </ion-buttons>
                    </p>
                  </ion-col>
                </ion-row>
                <p style="color: white;">Total distance travelled</p>
              </ion-card>
      
              <ion-card
                style="background-image: linear-gradient(to right top, #1ef015, #40f144, #57f260, #6bf278, #7ef28d); padding: 5px;">
                <p style="color: white;">Running(Hr:Min)</p>
                <ion-row>
                  <ion-col col-12>
                    <p>
                      <span style="font-size: xx-large; color: white;"
                        *ngIf="item.today_running">{{ item.today_running }}</span>
                      <span *ngIf="!item.today_running">00.00</span>
                      <span style="color: white;"></span>
                      <ion-buttons style="float: right;
                          font-size: xx-large; color: white;"><img src="assets/imgs/playbtn.png" style="width: 50px;">
                      </ion-buttons>
                    </p>
                  </ion-col>
                </ion-row>
                <p style="color: white;">Total running time</p>
              </ion-card>
      
              <ion-card
                style="background-image: linear-gradient(to right top, #f0151f, #ee2932, #ea3842, #e64550, #e0515d); padding: 5px;">
                <p style="color: white;">Stop(Hr:Min)</p>
                <ion-row>
                  <ion-col col-12>
                    <p>
                      <span style="font-size: xx-large; color: white;"
                        *ngIf="item.today_stopped">{{ item.today_stopped }}</span>
                      <span *ngIf="!item.today_stopped">00.00</span>
                      <span style="color: white;"></span>
                      <ion-buttons style="float: right;
                              font-size: xx-large; color: white;"><img src="assets/imgs/stopping.png" style="width: 50px;">
                      </ion-buttons>
                    </p>
                  </ion-col>
                </ion-row>
                <p style="color: white;">Total stopped time</p>
              </ion-card>
      
              <ion-card
                style="background-image: linear-gradient(to right top, #cbd500, #cada26, #cadf3a, #cae44a, #cae959); padding: 5px;">
                <p style="color: white;">Idle</p>
                <ion-row>
                  <ion-col col-12>
                    <p>
                      <span style="font-size: xx-large; color: white;" *ngIf="item.t_idling">{{ item.t_idling }}</span>
                      <span *ngIf="!item.t_idling">00.00</span>
                      <span style="color: white;"></span>
                      <ion-buttons style="float: right;
                              font-size: xx-large; color: white;"><img src="assets/imgs/steering-wheel.png"
                          style="width: 50px;"></ion-buttons>
                    </p>
                  </ion-col>
                </ion-row>
                <p style="color: white;">Total idle time</p>
              </ion-card>
      
              <ion-card
                style="background-image: linear-gradient(to right top, #72bee7, #6cbce7, #66bbe8, #60b9e8, #59b7e9); padding: 5px;">
                <p style="color: white;">Out of reach</p>
                <ion-row>
                  <ion-col col-12>
                    <p>
                      <span style="font-size: xx-large; color: white;" *ngIf="item.t_ofr">{{ item.t_ofr }}</span>
                      <span *ngIf="!item.t_ofr">00.00</span>
                      <span style="color: white;"></span>
                      <ion-buttons style="float: right;
                              font-size: xx-large; color: white;"><img src="assets/imgs/no-wifi.png" style="width: 50px;">
                      </ion-buttons>
                    </p>
                  </ion-col>
                </ion-row>
                <p style="color: white;">Total Out of reach</p>
              </ion-card>
      
              <ion-card
                style="background-image: linear-gradient(to right top, #5ce0e0, #5ee1cf, #6ae0bc, #7bdfa8, #8fdc93); padding: 5px;">
                <p style="color: white;">Fuel Con(Litre)</p>
                <ion-row>
                  <ion-col col-12>
                    <p>
                      <span style="font-size: xx-large; color: white;">{{ item.mileage }}</span>
                      <span style="color: white;"></span>
                      <ion-buttons style="float: right;
                          font-size: xx-large; color: white;"><img src="assets/imgs/fuelcon.png" style="width: 50px;">
                      </ion-buttons>
                    </p>
                  </ion-col>
                </ion-row>
                <p style="color: white;">Total fuel consumption</p>
              </ion-card>
      
              <ion-card
                style="background-image: linear-gradient(to right top, #29e081, #7fdb7e, #a7d586, #c0d097, #cdcdae); padding: 5px;">
                <p style="color: white;">Max Speed</p>
                <ion-row>
                  <ion-col col-12>
                    <p>
                      <span style="font-size: xx-large; color: white;" *ngIf="item.maxSpeed">{{ item.maxSpeed }}</span>
                      <span *ngIf="!item.maxSpeed">00.00</span>
                      <span style="color: white;">Km/Hr</span>
                      <ion-buttons style="float: right;
                                  font-size: xx-large; color: white;"><img src="assets/imgs/max.png" style="width: 50px;">
                      </ion-buttons>
                    </p>
                  </ion-col>
                </ion-row>
                <p style="color: white;">Max speed</p>
              </ion-card>
      
              <ion-card
                style="background-image: linear-gradient(to right top, #9f94c0, #88a7d9, #66bce6, #49cee4, #57ded2); padding: 5px;">
                <p style="color: white;">Trips</p>
                <ion-row>
                  <ion-col col-12>
                    <p>
                      <span style="font-size: xx-large; color: white;" *ngIf="item.today_trips">{{ item.today_trips }}</span>
                      <span style="font-size: xx-large; color: white;" *ngIf="!item.today_trips">00.00</span>
                      <span style="color: white;"></span>
                      <ion-buttons style="float: right;
                                  font-size: xx-large; color: white;"><img src="assets/imgs/trip.png" style="width: 50px;">
                      </ion-buttons>
                    </p>
                  </ion-col>
                </ion-row>
                <p style="color: white;">Total trips</p>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>  
        <ion-row *ngIf="showString !== undefined" class="ion-padding">
          <ion-col style="text-align: center;">
            <p style="color: #454344;">{{showString}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>