<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dealer List</ion-title>
    <div *ngIf="platformKey == 'md'" slot="primary">
      <ion-icon name="search" *ngIf="!searchBar" (click)="searchBar = !searchBar" style="    font-size: 2em;
    padding-right: 16px;"></ion-icon>
      <ion-searchbar animated showCancelButton="focus" placeholder="Find customers.." (ionCancel)="onCancel()"
        *ngIf="searchBar" (ionInput)="callSearch($event)"></ion-searchbar>
    </div>
  </ion-toolbar>
  <ion-searchbar animated placeholder="Find customers.." (ionCancel)="onCancel()" *ngIf="platformKey === 'ios'"
    (ionInput)="callSearch($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card *ngFor="let item of dealersList;" style="margin: 5px;">
          <ion-card-header style="padding-bottom: 0px;">
            <ion-row no-padding>
              <ion-col size="3" no-padding (click)="onDealerClicked(item)">
                <ion-img style="width: 45px;" src="assets/imgs/images.png"></ion-img>
              </ion-col>
              <ion-col size="9" no-padding>
                <ion-row>
                  <ion-col size="10" no-padding>
                    <ion-card-title style="font-size: 0.9em;
                    font-weight: 500;">{{item.first_name}} {{item.last_name}}</ion-card-title>
                    <ion-card-subtitle style="letter-spacing: 0.1px;
                    font-size: 0.65em;">{{item.created_on | date:"mediumDate"}}, {{item.created_on | date:"shortTime"}}
                    </ion-card-subtitle>
                  </ion-col>
                  <ion-col size="2" no-padding style="text-align: right;" (click)="addPoints(item)">
                    <ion-icon style="font-size: 1.2em;" src="assets/svg/money.svg"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-card-subtitle>
                  <ion-button size="small" fill="outline" style="font-size: 0.6em;" color="medium"
                    (click)="addDealer('edit', item)">Edit</ion-button>
                  <ion-button size="small" fill="outline" style="font-size: 0.6em;" color="medium"
                    (click)="onDeleteClicked(item)">Delete
                  </ion-button>
                  <ion-button fill="outline" size="small" style="font-size: 0.6em;" color="success"
                    (click)="onCustStatus(item)" *ngIf="item.status">Active
                  </ion-button>
                  <ion-button fill="outline" size="small" style="font-size: 0.6em;" color="secondary"
                    (click)="onCustStatus(item)" *ngIf="!item.status">InActive
                  </ion-button>
                  <ion-button fill="outline" size="small" style="font-size: 0.6em;" color="medium">Chat</ion-button>
                </ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content style="padding: 0px 16px 16px 16px;">
            <ion-row style="border-bottom: 0.5px solid #ebe6e6;">
              <ion-col size="4" no-padding>
                <p class="pClass">Password</p>
              </ion-col>
              <ion-col size="1" no-padding>
                <p class="pClass">:</p>
              </ion-col>
              <ion-col size="7" no-padding>
                <p style="color: black" class="pClass">{{item.pass ? item.pass : 'Not Saved'}}</p>
              </ion-col>
            </ion-row>
            <ion-row style="border-bottom: 0.5px solid #ebe6e6;">
              <ion-col size="4" no-padding>
                <p class="pClass">E-mail Id</p>
              </ion-col>
              <ion-col size="1" no-padding>
                <p class="pClass">:</p>
              </ion-col>
              <ion-col size="7" no-padding>
                <p style="min-height: 13px; margin: 0px; color: blueviolet; white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;" class="pClass">{{item.email ? item.email : 'N/A'}}</p>
              </ion-col>
            </ion-row>
            <ion-row style="border-bottom: 0.5px solid #ebe6e6;">
              <ion-col size="4" no-padding>
                <p class="pClass">Mobile Num.</p>
              </ion-col>
              <ion-col size="1" no-padding>
                <p class="pClass">:</p>
              </ion-col>
              <ion-col size="7" no-padding>
                <p style="color: blueviolet" class="pClass">{{item.phone ? item.phone : 'N/A'}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" no-padding>
                <p class="pClass">Vehicle Count</p>
              </ion-col>
              <ion-col size="1" no-padding>
                <p class="pClass">:</p>
              </ion-col>
              <ion-col size="7" no-padding>
                <p style="color: black" class="pClass">{{item.total_vehicle}}</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <!-- <ion-card *ngFor="let item of dealersList;">
          <ion-card-header style="padding-bottom: 0px;">

            <ion-row no-padding>
              <ion-col size="4" no-padding (click)="onDealerClicked(item)">
                <ion-img style="width: 60px;" src="assets/imgs/images.png"></ion-img>
              </ion-col>
              <ion-col size="8" no-padding>
                <ion-card-title style="font-size: 15px;
                font-weight: 500;">{{item.first_name}} {{item.last_name}}</ion-card-title>
                <ion-card-subtitle style="letter-spacing: 0.1px;
                font-size: 11px;">{{item.created_on | date:"mediumDate"}}, {{item.created_on | date:"shortTime"}}
                </ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-button size="small" fill="outline" style="font-size: 0.7em;" color="medium">Edit</ion-button>
                  <ion-button size="small" fill="outline" style="font-size: 0.7em;" color="medium">Delete</ion-button>
                  <ion-button fill="outline" size="small" style="font-size: 0.7em;" color="medium">Active</ion-button>
                </ion-card-subtitle>
              </ion-col>
            </ion-row>

          </ion-card-header>
          <ion-card-content style="padding: 0px 16px 16px 16px;">
            <ion-row>
              <ion-col size="4">
                <p>Password</p>
              </ion-col>
              <ion-col size="8">
                <p style="color: black">{{item.pass ? item.pass : 'Not Saved'}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <p>E-mail Id</p>
              </ion-col>
              <ion-col size="8">
                <p style="min-height: 13px; margin: 0px; color: blueviolet; white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;">{{item.email}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <p>Mobile Num.</p>
              </ion-col>
              <ion-col size="8">
                <p style="color: blueviolet">{{item.phone}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <p>Vehicle Count</p>
              </ion-col>
              <ion-col size="8">
                <p style="color: black">{{item.total_vehicle}}</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card> -->
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more dealers...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addDealer('add')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>