<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Fuel</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-list>
                    <ion-item lines="full" detail
                        [routerLink]="['/', 'fuel', 'fuel-chart']">
                        <ion-icon src="assets/imgs/icons/ecology.svg" slot="start"></ion-icon>
                        <ion-label>Fuel Chart</ion-label>
                    </ion-item>
                    <ion-item lines="full" detail
                        [routerLink]="['/', 'fuel', 'fuel-consumption']">
                        <ion-icon src="assets/imgs/icons/ecology.svg" slot="start"></ion-icon>
                        <ion-label>Fuel Consumption</ion-label>
                    </ion-item>
                    <ion-item lines="full" detail
                        [routerLink]="['/', 'fuel', 'fuel-entry']">
                        <ion-icon src="assets/imgs/icons/ecology.svg" slot="start"></ion-icon>
                        <ion-label>Fuel Entry</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>