<div #map id="map" style="height: 100%; width: 100%;background-color: transparent;">
    <!-- fab placed to the top end -->
    <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button>
            <ion-icon src="assets/map_icons/svg/9896b7419a0bd3d34eb7c7b528ad8224.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
            <ion-fab-button size="small" (click)="onClickStack('s')">
                S
            </ion-fab-button>
            <ion-fab-button size="small" (click)="onClickStack('n')">
                N
            </ion-fab-button>
            <ion-fab-button size="small" (click)="onClickStack('t')">
                T
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-fab vertical="top" horizontal="start" slot="fixed" style="margin-top: 15%;">
        <ion-fab-button (click)="onClickTraffic()">
            <ion-icon src="assets/map_icons/svg/traffic-light.svg"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</div>