<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="./tabs/dashbaord"></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
    <ion-buttons *ngIf="dataArrayCoords.length > 1" slot="primary"
      style="border-radius: 13px; background: white; color: black;">
      <ion-button slot="icon-only" fill="clear">
        <ion-icon style="font-size: 2em;" name="arrow-dropleft"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!playPause" slot="icon-only" fill="clear" color="secondary" (click)="animateHistory()">
        <ion-icon style="font-size: 2em;" name="play-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="playPause" slot="icon-only" fill="clear" color="secondary" (click)="animateHistory()">
        <ion-icon style="font-size: 2em;" name="pause"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only" fill="clear">
        <ion-icon style="font-size: 2em;" name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding" style="background: white;">
        <ion-row class="ion-no-padding">
          <ion-col size="12" no-padding>
            <app-from-to (fromDateOutput)="exampleMethodParent($event)" (toDateOutput)="exampleMethodParent1($event)"
              [fromDate]="datetimeFrom" [toDate]="datetimeTo">
            </app-from-to>
          </ion-col>
          <ion-col size="12" *ngIf="!isSingle"  style="background: #cd2a00; padding: 5px;">
            <app-select-vehicle [receivedParentMessage]="messageToSendP" (selectedVehObj)="getVehObj($event)">
            </app-select-vehicle>
          </ion-col>
          <ion-col size="12">
            <!-- <ion-row style="background-color: #fafafa;"> -->
            <ion-row style="background-color: white;">
              <ion-col style="text-align: center;">
                <ion-button class="ionBtn" shape="round" size="small" (click)="changeDate('today')">Today
                </ion-button>
                <ion-button class="ionBtn" shape="round" size="small" (click)="changeDate('yest')">
                  Yesterday</ion-button>
                <ion-button class="ionBtn" shape="round" size="small" (click)="changeDate('week')">Week
                </ion-button>
                <ion-button class="ionBtn" shape="round" size="small" (click)="changeDate('month')">Month
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="deviceObj">
    <app-google-map [passedObj]="deviceObj" [key]="messageToSendP"></app-google-map>
  </div>

  <div id="map_canvas" *ngIf="!isSingle">

  </div>
</ion-content>