// .map {
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     background-color: transparent;
//     opacity: 0;
//     transition: opacity 150ms ease-in;
// }

// .map.visible{
//     opacity: 1;
// }
// #map_canvas {
//     width: 100%;
//     height: 98%;
//     border: 1px solid red;
//   }
.my-class {
  height: 100%;
  width: 100%;
  background-color: transparent;
  visibility: visible;
}

.my-class2 {
  // height: 10%;
  // width: 10%;
  // background-color: transparent;
  visibility: hidden;
}

ion-fab-button {
  margin-left: 140px;
  overflow: visible;
  position: relative;
}
ion-fab-list {
  ion-label {
    position: relative;
    top: 40px;
    right: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
}
ion-fab {
  ion-badge {
    position: relative;
    top: 10px;
    left: 140px;
  }
}
