<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="./tabs/dashbaord"></ion-back-button>
    </ion-buttons>
    <ion-title>Live Tracking</ion-title>
    <!-- <ion-buttons slot="primary">
      <ion-button (click)="clickedAll()" fill="clear" color="light">All Vehicles</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col size-sm="6" offset-sm="3" no-padding>
        <ion-row no-padding>
          <ion-col size="12" style="background: #fff; padding: 5px;">
            <app-select-vehicle [receivedParentMessage]="messageToSendP" (selectedVehObj)="getVehObj($event)">
            </app-select-vehicle>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div *ngIf="vehObj === undefined" style="height: 100%; width: 100%;background-color: transparent;" id="map_canvas"></div> -->
  <div [ngClass]="{'my-class': showComponent === false, 'my-class2':showComponent === true }" id="map_canvas">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-badge color="danger">0</ion-badge>
      <ion-fab-button>
        <ion-icon name="cog"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="cart"></ion-icon>
        </ion-fab-button>
        <ion-label>lavel 1</ion-label>

        <ion-fab-button>
          <ion-icon name="clipboard"></ion-icon>
        </ion-fab-button>
        <ion-label>lavel 2</ion-label>

        <ion-fab-button>
          <ion-icon name="archive"></ion-icon>
        </ion-fab-button>
        <ion-label>lavel 3</ion-label>

      </ion-fab-list>
    </ion-fab>
  </div>
  <app-google-map *ngIf="showComponent" [passedObj]="vehObj" [key]="screenKey"></app-google-map>
</ion-content>