
canvas {
  // border: 1px dotted red;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 48vh;
  // height: 350px;
  // width: 350px;
}
.bar-container {
  position: relative;
  margin: auto;
  height: 30vh;
  // width: 80vw;
  // height: 280px;
  // width: 350px;
}

#labelOverlay {
  width: 90px;
  height: 45px;
  position: absolute;
  top: 233px;
  left: 205px;
  text-align: center;
  cursor: default;
}

#labelOverlay p {
line-height: 0.3;
padding:0;
margin: 8px;
}

#labelOverlay p.used-size {
line-height: 0.5;
font-size: 20pt;
color: #8e8e8e;
}

#labelOverlay p.total-size {
line-height: 0.5;
font-size: 12pt;
color: #cdcdcd;
}
