<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid style="margin-top: -15px;">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-row>
          <ion-col size="3" no-padding>
            <ion-fab horizontal="center">
              <ion-fab-button (click)="onLiveTracking()" color="secondary">
                <ion-icon name="pin"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
          <ion-col size="3" no-padding>
            <ion-fab horizontal="center">
              <ion-fab-button color="secondary" [routerLink]="['/maintabs/tabs/dashboard/vehicle-list']"
                routerLinkActive="router-link-active">
                <ion-icon name="car"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
          <ion-col size="3" no-padding>
            <ion-fab horizontal="center">
              <ion-fab-button color="secondary" [routerLink]="['/maintabs/tabs/dashboard/geo-fence']"
                routerLinkActive="router-link-active">
                <ion-icon name="radio-button-on"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
          <ion-col size="3" no-padding>
            <ion-fab horizontal="center">
              <ion-fab-button color="secondary" [routerLink]="['/maintabs/tabs/dashboard/history']"
                routerLinkActive="router-link-active">
                <ion-icon name="clock"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-padding-top" style="margin-top: -8px;">
    <ion-row>
      <ion-col>
        <div style="padding-top: 40px; padding-bottom: 5px;" class="chart-container">
          <canvas #doughnutCanvas></canvas>
        </div>
        <div style="padding-top: 5px;border-top: 1px solid lightyellow;" class="bar-container">
          <canvas id="barCanvas" #barCanvas></canvas>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isDealer">
  <ion-button shape="round" fill="outline" size="small" (click)="onAdminClicked()">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Admin
  </ion-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isCustomer">
  <ion-button shape="round" fill="outline" size="small" (click)="onDealerClicked()">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Dealer
  </ion-button>
</ion-fab>