<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Your Expenses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col size-sm="6" offset-sm="3" no-padding>
        <ion-row no-padding>
          <ion-col size="12" no-padding>
            <app-from-to (fromDateOutput)="exampleMethodParent($event)" (toDateOutput)="exampleMethodParent1($event)"
              [fromDate]="datetimeFrom" [toDate]="datetimeTo">
            </app-from-to>
          </ion-col>
          <ion-col size="12" style="background: #1c1c1c; padding: 5px;">
            <app-select-vehicle (selectedVehObj)="getVehObj($event)"></app-select-vehicle>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-row class="categories-list">
    <ion-col class="category-item tools-category" size="6">
      <app-image-shell [mode]="'cover'" class="category-cover" animation="spinner"
        [src]="'./assets/sample-images/categories/tools.png'">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <a class="category-anchor" [routerLink]="['/', 'expense', 'tools']">
            <h2 class="category-title">Tools</h2>
          </a>
          
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item service-category" size="6">
      <app-image-shell [mode]="'cover'" class="category-cover" animation="spinner"
        [src]="'./assets/sample-images/categories/services.png'">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <a class="category-anchor" [routerLink]="['/', 'expense', 'service']">
            <h2 class="category-title">Service</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item fuel-category" size="6">
      <app-image-shell [mode]="'cover'" class="category-cover" animation="spinner"
        [src]="'./assets/sample-images/categories/fuel.png'">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <a class="category-anchor" [routerLink]="['/', 'expense', 'fuel']">
            <h2 class="category-title">Fuel</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item labour-category" size="6">
      <app-image-shell [mode]="'cover'" class="category-cover" animation="spinner"
        [src]="'./assets/sample-images/categories/labour.png'">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <a class="category-anchor" [routerLink]="['/', 'expense', 'labour']">
            <h2 class="category-title">Labour</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item salary-category" size="6">
      <app-image-shell [mode]="'cover'" class="category-cover" animation="spinner"
        [src]="'./assets/sample-images/categories/salary.png'">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <a class="category-anchor" [routerLink]="['/', 'expense', 'salary']">
            <h2 class="category-title">Salary</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item toll-category" size="6">
      <app-image-shell [mode]="'cover'" class="category-cover" animation="spinner"
        [src]="'./assets/sample-images/categories/toll.png'">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <a class="category-anchor" [routerLink]="['/', 'expense', 'toll']">
            <h2 class="category-title">Toll</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
  </ion-row>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="onAddExpence()">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>