<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/maintabs/tabs/dashboard/vehicle-list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Common
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-google-map *ngIf="deviceObj" [passedObj]="deviceObj" [key]="screenKey"></app-google-map>
</ion-content>